@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@using MODELO_DATOS.MODELO_REQUISICION;
@{
    ViewBag.Title = "Requisición No Presupuestada";
    RESPUESTA_POP_UP paraModel = @ViewBag.resultadoPopUpNoJefe ?? new RESPUESTA_POP_UP();
}
<div class="col-md-12 col-lg-12 col-xl-12">

    @*<div class="LSubtitulos col-md-12 col-lg-12 col-xl-12 row" style="margin-bottom:10px;">

        <div class="col-md-3 col-lg-3 col-xl-3">
            <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Bridge-Copyrighted-icon.png" />
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
            <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Dreamweaver-Copyrighted-icon.png" />
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
            <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Fireworks-Copyrighted-icon.png" />
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3">
            <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Flash-Copyrighted-icon.png" />
        </div>

    </div>*@
    @*Seccion Requisicion*@
    @*<div class="form-row col-md-12 col-lg-12 col-xl-12 row">

            @using (Html.BeginForm("Index", "REQUISICION_NOPRESUPUESTADA", FormMethod.Post, new { id = "frmNoPresupuestada", @class = "col-md-12 col-lg-12 col-xl-12" }))
            {


                <div class="row">
                    <div class="form-group col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_NECESIDAD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DropDownListFor(model => model.COD_TIPO_NECESIDAD, Model.LIST_NOMBRE_TIPO_NECESIDAD, "-- Seleccione --", new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-6 col-sm-12">
                        @Html.LabelFor(model => model.NOMBRE_CARGO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DropDownListFor(model => model.COD_CARGO, Model.LIST_NOMBRE_CARGO, "-- Seleccione --", new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.OBSERVACION_CREACION, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.TextAreaFor(model => model.OBSERVACION_CREACION, new { @class = "form-control" })

                    </div>

                </div>






                <div>
                    @Html.LabelFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.CheckBoxFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control" } })
                    <span></span>
                </div>

                <div class="retiros-detalle form-group row col-md-12 row">
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4">
                        <input type="button" value="Cancelar" id="btnCancelarNoJefe" class="btn-cancelar-retriro" style="margin-right: 20%;cursor:pointer;" />
                    </div>
                    <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4">
                        <input type="submit" value="Crear Requisición" class="btn-confirmar-retiro" style="margin-right: 20%;cursor:pointer;" />
                    </div>
                </div>

            }

        </div>*@

    @*Fin Seccion Requisicion*@
    <!-- Modal -->

</div>

<script>
    $(document).ready(function () {
        debugger;
        var resultado = "@ViewBag.resultadoNojefe";


        if (resultado == "True") {
            debugger;
            var CargoText = "@paraModel.NOMBRE_COD_CARGO";
            var CargoCod = "@paraModel.COD_REQUISICION_CREADA";
            $("#mensaje1").text(CargoText);
            $("#mensaje2").text(CargoCod);
                $('#ModalCreacionNoJefe').modal("show");
            }
        });
    $("#btnCancelarNoJefe").on("click", function () {
        $('#ModalCancelNoJefe').modal('show');
    });

    function SiCancelarJefe() {
            $('#ModalCancel').modal('hide');
            window.location.href = '@Url.Action("Index", "REQUISICION")';
        };
    function NoCancelarJefe() {
            $('#ModalCancel').modal('hide');
    };
</script>


