@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@using MODELO_DATOS.MODELO_REQUISICION;
@using UTILS.Settings;
@using G_H_WEB.Models;
@{
    if (ViewBag.ReqModificada)
    {
        ViewBag.Title = "Editar Requisición No Presupuestada";
    }
    else
    {
        ViewBag.Title = "Crear Requisición No Presupuestada";
    }
    if (ViewBag.PERMISOS_CONTROLLER != "")
    {
        Layout = "~/Views/Shared/_LayoutController.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    RESPUESTA_POP_UP paraModel = @ViewBag.resultadoPopUpNoJefe ?? new RESPUESTA_POP_UP();
}
<link href="~/css/gestion-humana-requisicion.css" rel="stylesheet" />
<div class="col tb_separador">
    <h4>@ViewBag.Title</h4>

    <div id="SeccionRequisicionParciales" class="col">
        <div class="row" style="margin: 20px;">
            <div class="col-md-3 col-lg-3 col-xl-3">
                <div class="col-12 rectangle_Pop_UP">
                    <img src="../../assets/img/imgPresupuestada.png" class="img-responsive maxImagen" />
                    <div class="presupuestada">Presupuestada</div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <div class="col-12 rectangle_Pop_UP ImagenActiva">
                    <img src="../../assets/img/imgNoPresupuestada.png" class="img-responsive maxImagen" />
                    <div class="no-presupuestada">No presupuestada</div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <div class="col-12 rectangle_Pop_UP">
                    <img src="../../assets/img/imgIncapacidad.png" class="img-responsive maxImagen" />
                    <div class="incapacidad">Incapacidad</div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <div class="col-12 rectangle_Pop_UP">
                    <img src="../../assets/img/imgLicencia.png" class="img-responsive maxImagen" />
                    <div class="licencia">Licencia</div>
                </div>
            </div>
        </div>
        <div>
            @if (ViewBag.Error != null)
            {
                @Html.Partial("_Error", (ERROR_GENERAL_ViewModel)ViewBag.Error);
            }
            else
            {

                <div class="div-alert-modify alert alert-warning" role="alert" style="display:none">
                    La requisición ha sido modificada por otro usuario
                </div>
                <div id="CNform">
                    <div class="retiros-detalle">
                        <div class="form-group col-md-12">
                            @using (Html.BeginForm("Procesar", "REQUISICION_NOPRESUPUESTADA", FormMethod.Post, new { autocomplete = "off" }))
                            {

                                if (User.IsInRole(SettingsManager.PerfilJefe))
                                {
                                    @Html.Partial("_PartialInfoRequisicion", Model)
                                    @Html.Partial("_PartialAutorizacion", Model)
                                }
                                if (User.IsInRole(SettingsManager.PerfilController))
                                {
                                    @Html.Partial("_PartialInfoRequisicion", Model)
                                    @Html.Partial("_PartialAutorizacion", Model)
                                }
                                if (User.IsInRole(SettingsManager.PerfilBp))
                                {
                                    @Html.Partial("_PartialInfoRequisicion", Model)
                                    @Html.Partial("_PartialInfoGeneral", Model)
                                    @Html.Partial("_PartialInfoSalarial", Model)
                                    @Html.Partial("_PartialAutorizacion", Model)

                                }
                                if (User.IsInRole(SettingsManager.PerfilRRHH))
                                {
                                    @Html.Partial("_PartialInfoRequisicion", Model)
                                    @Html.Partial("_PartialInfoGeneral", Model)
                                    @Html.Partial("_PartialInfoSalarial", Model)
                                    @Html.Partial("_PartialAutorizacion", Model)
                                    @Html.Partial("_Rechazar", Model);
                                }
                                if (User.IsInRole(SettingsManager.PerfilUSC))
                                {
                                    @Html.Partial("_PartialInfoRequisicion", Model)
                                    @Html.Partial("_PartialInfoGeneral", Model)
                                    @Html.Partial("_PartialInfoSalarial", Model)
                                    @Html.Partial("_PartialAutorizacion", Model)
                                    @Html.Partial("_Rechazar", Model);
                                }
                                if (ViewBag.PERMISOS_CONTROLLER != "")
                                {
                                    @Html.Partial("_PartialInfoRequisicion", Model)
                                    @Html.Partial("_PartialAutorizacion", Model)
                                }
                                //Botones
                                <div class="form-group">
                                    <div class="col-md-12">

                                        @Html.ActionLink("Cancelar requisición", "ConsultarRequisiciones", "REQUISICION", routeValues: null, htmlAttributes: new { @class = "cancelar-requisicion text-capitalize" })
                                        @if (User.IsInRole(SettingsManager.PerfilJefe))
                                        {
                                            <input name="submitButton" id="submitButtonCrear" type="submit" value="CREAR REQUISICIÓN" class="btn-confirmar-retiro col-md-3 btn-collpse-valid" />
                                        }
                                        @if (User.IsInRole(SettingsManager.PerfilController))
                                        {
                                            <input name="submitButton" type="submit" value="DEVOLVER REQUISICIÓN" class="BtnDevolver text-uppercase TextoBtnDevolver col-md-3 btn-collpse-valid" />
                                            <input name="submitButton" type="submit" value="APROBAR REQUISICIÓN" class="crear-requisicion crear-requisicion-texto btn-collpse-valid" />
                                        }
                                        @if (User.IsInRole(SettingsManager.PerfilBp))
                                        {
                                            <input name="submitButton" type="submit" value="Enviar Requisición" class="crear-requisicion crear-requisicion-texto btn-collpse-valid" />
                                        }
                                        @if (User.IsInRole(SettingsManager.PerfilRRHH) || User.IsInRole(SettingsManager.PerfilUSC))
                                        {
                                            <a id="rechazarReq" class="BtnDevolver text-uppercase TextoBtnDevolver" style="padding:12px">Rechazar requisición</a>
                                            <input name="submitButton" type="submit" value="DEVOLVER REQUISICIÓN" class="BtnDevolver text-uppercase TextoBtnDevolver col-md-3 btn-collpse-valid" />
                                            <input name="submitButton" type="submit" value="APROBAR REQUISICIÓN" class="btn-confirmar-retiro col-md-3 btn-collpse-valid" />
                                        }
                                        @if (ViewBag.PERMISOS_CONTROLLER != "")
                                        {
                                            <input name="submitButton" type="submit" value="DEVOLVER REQUISICIÓN" class="BtnDevolver text-uppercase TextoBtnDevolver col-md-3 btn-collpse-valid" />
                                            <input name="submitButton" type="submit" value="APROBAR REQUISICIÓN" class="crear-requisicion crear-requisicion-texto btn-collpse-valid" />
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>



        <div class="modal fade" id="ModalCreacionNoJefe" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content Content-Popup-Creacion">
                    <div class="modal-header">
                        <h5 class="modal-title _metodoDefecto Titulo-Popup-Creacion" id="ModalLabel">Se ha presentado un error</h5>
                        <h5 class="modal-title _metodoCrear Titulo-Popup-Creacion" id="ModalLabel">Requisición creada con éxito</h5>
                        <h5 class="modal-title __metodoAprobar Titulo-Popup-Creacion" id="ModalLabel">Requisición aprobada con éxito</h5>
                        <h5 class="modal-title __metodoModificar Titulo-Popup-Creacion" id="ModalLabel">Requisición modificada con éxito</h5>
                        <h5 class="modal-title __metodoRechazar Titulo-Popup-Creacion" id="ModalLabel">Requisición rechazada con éxito</h5>
                        <h5 class="modal-title __metodoEnviar Titulo-Popup-Creacion" id="ModalLabel">Requisición enviada con éxito</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body Content-Popup">
                        <br />
                        <h2 class="_metodoCrear Texto-Popup-Creacion">Se créo la requisicion para el cargo de  <span class="Texto-Popup-Creacion-Negrilla" id="mensaje1"></span> con ID <span class="Texto-Popup-Creacion-Negrilla" id="mensaje2"></span></h2>
                        <h2 class="__metodoAprobar Texto-Popup-Creacion">Se aprobó la requisición con ID <span class="Texto-Popup-Creacion-Negrilla" id="mensaje_aprobar"></span></h2>
                        <h2 class="__metodoModificar Texto-Popup-Creacion">Se modificó la requisición con ID <span class="Texto-Popup-Creacion-Negrilla" id="mensaje_modificar"></span></h2>
                        <h2 class="__metodoRechazar Texto-Popup-Creacion">Se Rechazó la requisición con ID <span class="Texto-Popup-Creacion-Negrilla" id="mensaje_rechazar"></span></h2>
                        <h2 class="_metodoDefecto Texto-Popup-Creacion">Por favor contacte al <span class="Texto-Popup-Creacion-Negrilla" id="mensaje_rechazar">administrador</span> del sistema</h2>
                        @if (Model.LIST_VALIDACION_ERRORES != null)
                        {
                            if (Model.LIST_VALIDACION_ERRORES.Count > 0)
                            {

                                <div class="col-md-12 col-sm-12 _metodoDefecto Texto-Popup-Creacion">
                                    @Html.Label("Se presentaron los siguientes errores en el formulario: ", new { @class = "letrasFormulario" })
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr class="letrasFormulario">
                                                    <th>Campo</th>
                                                    <th>Error</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var errorModel in Model.LIST_VALIDACION_ERRORES)
                                                {
                                                    <tr>
                                                        <td>@errorModel.Campo</td>
                                                        <td>@errorModel.Error</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        }

                        <h2 class="__metodoEnviar Texto-Popup-Creacion">Se Envío la requisición con ID <span class="Texto-Popup-Creacion-Negrilla" id="mensaje_Enviar"></span></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="ModalCancelNoJefe" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Está a punto de cancelar la requisición</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="retiros-detalle modal-body">
                        <br />
                        <h4>¿Está Seguro de Cancelarla?</h4>

                        <button type="button" class="filtroPorUsuario btn-cancelar-retriro" data-dismiss="modal" aria-label="Aceptar" onclick="NoCancelarJefe()" style="cursor:pointer;">
                            No

                        </button>
                        <button type="button" class="filtroPorUsuario btn-confirmar-retiro" data-dismiss="modal" aria-label="Cancelar" onclick="SiCancelarJefe()" style="cursor:pointer;">
                            Si

                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade ModalTraza" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h7 class="modal-title" id="ModalLabelTraza"></h7>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="row modal-body">
                        <div class="col-md-12 col-lg-12 col-xl-12 table-responsive">
                            <h3>Modificaciones</h3>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Cod Requisición</th>
                                        <th class="nombre_traza"></th>
                                        <th>Usuario Registro</th>
                                        <th>Fecha Registro</th>
                                        <th>Cod Estado</th>
                                    </tr>
                                </thead>
                                <tbody class="bodytraza"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="ModalRequisicionProcesada" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title Texto-Popup-Creacion" id="ModalLabel">Requisición procesada</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body Content-Popup">
                        <br />
                        <h2 class="Texto-Popup-Creacion">Esta requisición ha sido ya ha sido procesada</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/css/gestion-humana-requisicion.css" rel="stylesheet" />

    <script type="text/javascript">

        $(document).ready(function () {
            debugger;
        $(".nav-incapacidad").removeClass('nav-active');
        $(".nav-presupuestada").removeClass('nav-active');
        if ("@Model.ES_MODIFICACION" == "True") {
            $(".nav-no-presupuestada").removeClass('nav-active');
            $(".nav-modificacion-no-presupuestada").addClass('nav-active');
        } else {
            $(".nav-no-presupuestada").addClass('nav-active');
            $(".nav-modificacion-no-presupuestada").removeClass('nav-active');
        }
        $(".nav-modificacion-presupuestada").removeClass('nav-active');
        $(".nav-licencia").removeClass('nav-active');

        if ("@User.IsInRole(SettingsManager.PerfilJefe)" == "True") {
            if (@Model.COD_REQUISICION!= 0) {
                $("#submitButtonCrear").text("Modificar Requisición");
            }
        }
        $("._metodoCrear").css("display", "none");
        $(".__metodoAprobar").css("display", "none");
        $(".__metodoModificar").css("display", "none");
        $(".__metodoRechazar").css("display", "none");
        $(".__metodoEnviar").css("display", "none");

        VALIDACION_TRAZA();

        var resultado = "@ViewBag.resultadoInsertExitosoOno";


        if (resultado == "True") {
            var _metodo = "@paraModel.METODO";
            if (_metodo == "Crear") {
                CREAR_REQUISICION();
                $("._metodoDefecto").css("display", "none");

            }
            else if (_metodo == "Aprobar") {
                APROBAR_REQUISICION();
                $("._metodoDefecto").css("display", "none");
            }
            else if (_metodo == "Modificar") {
                MODIFICAR_REQUISICION();
                $("._metodoDefecto").css("display", "none");
            }

            else if (_metodo == "Rechazar") {
                RECHAZAR_REQUISICION();
                $("._metodoDefecto").css("display", "none");
            }
            else if (_metodo == "Enviar") {
                ENVIAR_REQUISICION();
                $("._metodoDefecto").css("display", "none");
            }

            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
            };

            $('#ModalCreacionNoJefe').modal("show");
        }
        else if ($("#COD_TIPO_NECESIDAD").val() == "" && $("#COD_CARGO").val() == "" && "@ViewBag.PERMISOS_CONTROLLER" != "") {
            window.history.pushState(null, "", window.location.href);
            window.onpopstate = function () {
                window.history.pushState(null, "", window.location.href);
            };

            $('#ModalRequisicionProcesada').modal('show');
        }

        $(document).on('submit', 'form', function () {
            $('body').loading({
                message: 'Procesando...'
            });
        })

        $("#ModalCreacionNoJefe").keydown(function () {
            var key = event.which
            if (key) {
                window.location.href = "../REQUISICION/ConsultarRequisiciones";
            }
        });
    });

    function VALIDACION_TRAZA() {
        var jsonObj = @Html.Raw(Json.Encode(ViewBag.traza));
        if (jsonObj) {
            for (i = 0; i < jsonObj.length; i++) {
                if (jsonObj[i].TRAZA == "true") {
                    var campo = "#" + jsonObj[i].CAMPOS + "_S";
                    if ($(campo).length) {
                        $(campo).removeAttr("style");
                        $(campo).removeClass('span-modify-hidden');
                        $('.div-alert-modify').css('display', 'block');
                        var traza = jsonObj[i].TRAZA;
                    }
                }
            }
        }
    }

    function CREAR_REQUISICION() {
        var CargoText = "@paraModel.NOMBRE_COD_CARGO";
        var CargoCod = "@paraModel.COD_REQUISICION_CREADA";

        $("#mensaje1").text(transformAccent(CargoText));
        $("#mensaje2").text(CargoCod);
        $("._metodoCrear").css("display", "block");
    }


    function APROBAR_REQUISICION() {
        var CargoCod = "@paraModel.COD_REQUISICION_CREADA";
        $(".__metodoAprobar").css("display", "block");
        $("#mensaje_aprobar").text(CargoCod);

    }
    function MODIFICAR_REQUISICION() {
          var CargoCod = "@paraModel.COD_REQUISICION_CREADA";
        $(".__metodoModificar").css("display", "block");
        $("#mensaje_modificar").text(CargoCod);
    }

      function RECHAZAR_REQUISICION() {
          var CargoCod = "@paraModel.COD_REQUISICION_CREADA";
          $(".__metodoRechazar").css("display", "block");
          $("#mensaje_rechazar").text(CargoCod);
    }

          function ENVIAR_REQUISICION() {
          var CargoCod = "@paraModel.COD_REQUISICION_CREADA";
          $(".__metodoEnviar").css("display", "block");
          $("#mensaje_Enviar").text(CargoCod);
    }


    $("#btnCancelarNoJefe").on("click", function () {
        $('#ModalCancelNoJefe').modal('show');
    });

    function SiCancelarJefe() {
            $('#ModalCancel').modal('hide');
            window.location.href = '@Url.Action("ConsultarRequisiciones", "REQUISICION")';
        };
    function NoCancelarJefe() {
            $('#ModalCancel').modal('hide');
    };

    $(function () {
        $('.datepicker').datepicker();
    });

function ConsultaTraza(CAMPO_REQUISICION) {
    var campo_re = 0;
    var cont = 0;
    $(".bodytraza").empty();
    $(".nombre_traza").text("");
    $("#ModalLabelTraza").text("TRAZA " + CAMPO_REQUISICION.replace(/_/g, " "));
    $(".nombre_traza").text(CAMPO_REQUISICION.replace(/_/g," "));
    var COD_REQUISICION = @Model.COD_REQUISICION;
        $('body').loading({
            message: 'Cargando...'
        });
        $.ajax({
            url: "@Url.Action("ConsultarTraza", "REQUISICION")",
            type: 'GET',
            data: { COD_REQUISICION: COD_REQUISICION, CAMPO_REQUISICION: CAMPO_REQUISICION},
            success: function (respuesta) {
                debugger;


                $.each(respuesta, function (key, value) {
                    cont++;
                });
                $.each(respuesta, function (key, value) {
                    debugger;
                    if (cont === 1) {
                        if (value[CAMPO_REQUISICION] != null && value[CAMPO_REQUISICION] != 0) {
                        $(".bodytraza").append("<tr><td>" + value.COD_REQUISICION + "</td > <td>" + value[CAMPO_REQUISICION] + "</td > <td>" + value.USUARIO_REGISTRO + "</td > <td>" + value.FECHA_REGISTRO + "</td ><td>" + value.NOMBRE_ESTADOS_REQUISICION + "</td > </tr > ");
                        }
                     }
                    else {
                        if (cont === 2) {
                            if (value[CAMPO_REQUISICION] != null && value[CAMPO_REQUISICION] != campo_re && value.NOMBRE_ESTADOS_REQUISICION != "Registrada") {
                                $(".bodytraza").append("<tr><td>" + value.COD_REQUISICION + "</td > <td>" + value[CAMPO_REQUISICION] + "</td > <td>" + value.USUARIO_REGISTRO + "</td > <td>" + value.FECHA_REGISTRO + "</td ><td>" + value.NOMBRE_ESTADOS_REQUISICION + "</td > </tr > ");
                            }
                            else {
                                if(value[CAMPO_REQUISICION] != null && value[CAMPO_REQUISICION] != campo_re) {
                                $(".bodytraza").append("<tr><td>" + value.COD_REQUISICION + "</td > <td>" + value[CAMPO_REQUISICION] + "</td > <td>" + value.USUARIO_REGISTRO + "</td > <td>" + value.FECHA_REGISTRO + "</td ><td>" + value.NOMBRE_ESTADOS_REQUISICION + "</td > </tr > ");
                            }
                        }
                        }
                        else {
                            if (value[CAMPO_REQUISICION] != null && value[CAMPO_REQUISICION] != campo_re) {
                                $(".bodytraza").append("<tr><td>" + value.COD_REQUISICION + "</td > <td>" + value[CAMPO_REQUISICION] + "</td > <td>" + value.USUARIO_REGISTRO + "</td > <td>" + value.FECHA_REGISTRO + "</td ><td>" + value.NOMBRE_ESTADOS_REQUISICION + "</td > </tr > ");
                            }
                        }
                    }
                    campo_re = value[CAMPO_REQUISICION];
                });

                var distinto = [];
                $.each(respuesta, function (key, value) {
                    distinto.push(value[CAMPO_REQUISICION]);
                });
                var filtro = distinto.reduce((acc, d) => acc.includes(d) ? acc : acc.concat(d), []);

                if (filtro.length == 1) {
                    if (filtro[0] == 0 || filtro[0] == null) {
                        var value = respuesta.find(x => x[CAMPO_REQUISICION] == filtro[0]);
                        value[CAMPO_REQUISICION] = 0;
                        $(".bodytraza").append("<tr><td>" + value.COD_REQUISICION + "</td > <td>" + value[CAMPO_REQUISICION] + "</td > <td>" + value.USUARIO_REGISTRO + "</td > <td>" + value.FECHA_REGISTRO + "</td ><td>" + value.NOMBRE_ESTADOS_REQUISICION + "</td > </tr > ");
                    }
                 }

                $('body').loading('stop');
                $('.ModalTraza').modal("show");
            },
            error: function (er){
                $('body').loading('stop');
            }
        });
}


    $('.btn-collpse-valid').on('click', function () {
        //console.log('di click !!', validate);
        if (!validateForm()) {
            $("#collapse2").collapse('show');
        }
        if (!validateFormInfoGeneralPresu()) {
            $('#collapseInfoGeneralPresu').collapse('show');
        }
        if (!validateFormInfoSalarialPresu()) {
            $('#collapseInfoSalarialPresu').collapse('show');
        }
        if (!validateFormAutorizacion()) {
            $('#collapseAutorizacion').collapse('show');
        }
    });

    </script>

