@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@using MODELO_DATOS.MODELO_REQUISICION;
@using UTILS.Settings
@{
    ViewBag.Title = "Requisición No Presupuestada";
    Layout = "~/Views/Shared/_Layout.cshtml";
    NO_PRESUPESTADA_CREACION paraModel = @ViewBag.resultadoPopUpNoJefe ?? new NO_PRESUPESTADA_CREACION();
}

<div class="col-md-9 col-lg-9 col-xl-9 tablaRetiros">
    <h2>@ViewBag.Title</h2>

    @if (User.IsInRole(SettingsManager.PerfilJefe))
    {
        @Html.Partial("_PartialViewNO_PRESUPUESTADA_JEFE", Model)
    }

    @if (User.IsInRole(SettingsManager.PerfilController))
    {
        @Html.Partial("_PartialViewNO_PRESUPUESTADA_CONTROLLER", Model)

    }

    @if (User.IsInRole(SettingsManager.PerfilBp))
    {
        @Html.Partial("_PartialViewNO_PRESUPUESTADA_BP", Model)

    }
    @if (User.IsInRole(SettingsManager.PerfilRRHH))
    {
        @Html.Partial("_PartialViewNO_PRESUPUESTADA_RRHH", Model)

    }

    @if (User.IsInRole(SettingsManager.PerfilUSC))
    {
        @Html.Partial("_PartialViewNO_PRESUPUESTADA_USC", Model)

    }


</div>

