


@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
<section id="Requisicion">
    <h3>Imformación Requisición</h3>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_NECESIDAD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_TIPO_NECESIDAD, Model.LIST_NOMBRE_TIPO_NECESIDAD, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_TIPO_NECESIDAD)
        </div>

        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CARGO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CARGO, Model.LIST_NOMBRE_CARGO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CARGO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.ORDEN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.TextBoxFor(model => model.ORDEN, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ORDEN)
        </div>

        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.COD_CECO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CECO, Model.LIST_NOMBRE_CECO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CECO)
        </div>
    </div>
</section>
<section id="infoGeneral">
    <h3>Imformación General</h3>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_GERENCIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_GERENCIA, Model.LIST_NOMBRE_GERENCIA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_GERENCIA)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_CONTRATO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_TIPO_CONTRATO, Model.LIST_NOMBRE_TIPO_CONTRATO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_TIPO_CONTRATO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.JEFE_INMEDIATO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.TextBoxFor(model => model.JEFE_INMEDIATO, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.JEFE_INMEDIATO)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CECO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CECO, Model.LIST_NOMBRE_CECO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CECO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_SOCIEDAD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_SOCIEDAD, Model.LIST_NOMBRE_SOCIEDAD, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_SOCIEDAD)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_EQIPO_VENTAS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_EQUIPO_VENTAS, Model.LIST_NOMBRE_EQIPO_VENTAS, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_EQUIPO_VENTAS)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CIUDAD_TRABAJO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CIUDAD_TRABAJO, Model.LIST_NOMBRE_CIUDAD_TRABAJO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CIUDAD_TRABAJO)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_UBICACION_FISICA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_UBICACION_FISICA, Model.LIST_NOMBRE_UBICACION_FISICA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_UBICACION_FISICA)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NIVEL_RIESGO_ARL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_NIVEL_RIESGO_ARL, Model.LIST_NIVEL_RIESGO_ARL, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_NIVEL_RIESGO_ARL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA_ED, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CATEGORIA_ED, Model.LIST_NOMBRE_CATEGORIA_ED, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CATEGORIA_ED)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.CARGO_CRITICO, htmlAttributes: new { @class = "control-label" })
            <div class="checkbox">
                @Html.EditorFor(model => model.CARGO_CRITICO)
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            @Html.LabelFor(model => model.NOMBRE_JORNADA_LABORAL, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @foreach (var jornada in Model.LIST_NOMBRE_JORNADA_LABORAL)
                {
                    @Html.RadioButtonFor(m => m.COD_JORNADA_LABORAL, jornada.Value) @jornada.Text
                }
            </div>
            @Html.ValidationMessageFor(model => model.COD_JORNADA_LABORAL)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label>Horario Laboral</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <div class="input-group date datepicker-retiro">
                @Html.EditorFor(model => model.HORARIO_LABORAL_DESDE, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Desde" } })
                <span class="input-group-addon">
                    <span class="fas fa-calendar-alt" style="pointer-events:none">
                    </span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.HORARIO_LABORAL_DESDE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="input-group date datepicker-retiro">
                @Html.EditorFor(model => model.HORARIO_LABORAL_HASTA, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Hasta" } })
                <span class="input-group-addon">
                    <span class="fas fa-calendar-alt" style="pointer-events:none">
                    </span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.HORARIO_LABORAL_HASTA)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label>Dias Laborales</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_DIA_LABORAL_DESDE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_DIA_LABORAL_DESDE, Model.LIST_DIA_LABORAL_DESDE, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_DIA_LABORAL_DESDE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_DIA_LABORAL_HASTA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_DIA_LABORAL_HASTA, Model.LIST_DIA_LABORAL_HASTA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_DIA_LABORAL_HASTA)
        </div>
    </div>
</section>
<section id="infoSalarial">
    <h3>Imformación Salarial</h3>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SALARIO_FIJO)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PORCENTAJE_SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_FIJO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SALARIO_VARIABLE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_VARIABLE)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SOBREREMUNERACION)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.PORCENTAJE_SOBREREMUNERACION, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PORCENTAJE_SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SOBREREMUNERACION)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.EXTRA_FIJA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EXTRA_FIJA)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RECARGO_NOCTURNO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RECARGO_NOCTURNO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.MEDIO_TRANSPORTE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MEDIO_TRANSPORTE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SALARIO_TOTAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SALARIO_TOTAL)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BONO_ANUAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BONO_ANUAL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NUMERO_SALARIOS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NUMERO_SALARIOS)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.MESES_GARANTIZADOS, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.MESES_GARANTIZADOS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MESES_GARANTIZADOS)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_SALARIO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_TIPO_SALARIO, Model.LIST_NOMBRE_TIPO_SALARIO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_TIPO_SALARIO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.FACTOR_PRESTACIONAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FACTOR_PRESTACIONAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FACTOR_PRESTACIONAL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.INGRESO_PROM_MENSUAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.INGRESO_PROM_MENSUAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_MENSUAL)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.INGRESO_PROM_ANUAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.INGRESO_PROM_ANUAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_ANUAL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.MERCADO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.MERCADO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MERCADO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CATEGORIA, Model.LIST_NOMBRE_CATEGORIA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CATEGORIA)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <div id="idPuntoMedio" style="border:solid 1px;padding:5px">

                <h5>Punto Medio</h5>
                <div style="border:solid 1px;padding:5px">
                    <div class="row">
                        <div class="col-4">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_80)
                        </div>
                        <div class="col-4">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_100)
                        </div>
                        <div class="col-4">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_120)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            @Html.EditorFor(model => model.PUNTO_MEDIO_80, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_80)
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(model => model.PUNTO_MEDIO_100, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_100)
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(model => model.PUNTO_MEDIO_120, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_120)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            @Html.LabelFor(model => model.POSICIONAMIENTO, htmlAttributes: new { @class = "control-label col-md-12" })
            @Html.EditorFor(model => model.POSICIONAMIENTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.POSICIONAMIENTO)
        </div>
    </div>
</section>
<section id="autorizacion">
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            @Html.LabelFor(model => model.OBSERVACION, htmlAttributes: new { @class = "control-label" })
            @Html.TextAreaFor(model => model.OBSERVACION, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OBSERVACION)
        </div>
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
    });
</script>

