@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
<section id="infoGeneral">
    <h3>Imformación General</h3>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_GERENCIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_GERENCIA, Model.LIST_NOMBRE_GERENCIA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_GERENCIA)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_CONTRATO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_TIPO_CONTRATO, Model.LIST_NOMBRE_TIPO_CONTRATO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_TIPO_CONTRATO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.JEFE_INMEDIATO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.TextBoxFor(model => model.JEFE_INMEDIATO, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.JEFE_INMEDIATO)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CECO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CECO, Model.LIST_NOMBRE_CECO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CECO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_SOCIEDAD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_SOCIEDAD, Model.LIST_NOMBRE_SOCIEDAD, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_SOCIEDAD)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_EQIPO_VENTAS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_EQUIPO_VENTAS, Model.LIST_NOMBRE_EQIPO_VENTAS, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_EQUIPO_VENTAS)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CIUDAD_TRABAJO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CIUDAD_TRABAJO, Model.LIST_NOMBRE_CIUDAD_TRABAJO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CIUDAD_TRABAJO)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_UBICACION_FISICA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_UBICACION_FISICA, Model.LIST_NOMBRE_UBICACION_FISICA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_UBICACION_FISICA)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NIVEL_RIESGO_ARL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_NIVEL_RIESGO_ARL, Model.LIST_NIVEL_RIESGO_ARL, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_NIVEL_RIESGO_ARL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA_ED, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CATEGORIA_ED, Model.LIST_NOMBRE_CATEGORIA_ED, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CATEGORIA_ED)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.CARGO_CRITICO, htmlAttributes: new { @class = "control-label" })
            <div class="checkbox">
                @Html.EditorFor(model => model.CARGO_CRITICO)
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            @Html.LabelFor(model => model.NOMBRE_JORNADA_LABORAL, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-12">
                @foreach (var jornada in Model.LIST_NOMBRE_JORNADA_LABORAL)
                {
                    @Html.RadioButtonFor(m => m.COD_JORNADA_LABORAL, jornada.Value) @jornada.Text
                }
            </div>
            @Html.ValidationMessageFor(model => model.COD_JORNADA_LABORAL)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label>Horario Laboral</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <div class="input-group date datepicker-retiro">
                @Html.EditorFor(model => model.HORARIO_LABORAL_DESDE, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Desde" } })
                <span class="input-group-addon">
                    <span class="fas fa-calendar-alt" style="pointer-events:none">
                    </span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.HORARIO_LABORAL_DESDE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <div class="input-group date datepicker-retiro">
                @Html.EditorFor(model => model.HORARIO_LABORAL_HASTA, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Hasta" } })
                <span class="input-group-addon">
                    <span class="fas fa-calendar-alt" style="pointer-events:none">
                    </span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.HORARIO_LABORAL_HASTA)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <label>Dias Laborales</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_DIA_LABORAL_DESDE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_DIA_LABORAL_DESDE, Model.LIST_DIA_LABORAL_DESDE, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_DIA_LABORAL_DESDE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_DIA_LABORAL_HASTA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_DIA_LABORAL_HASTA, Model.LIST_DIA_LABORAL_HASTA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_DIA_LABORAL_HASTA)
        </div>
    </div>
</section>