@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{
                ViewBag.Title = "REQUISICION PRESUPUESTADA";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Crear", "REQUISICION_PRESUPUESTADA", FormMethod.Post, new { id = "formLicenciaGeneral", @class = "col-md-12 row" }))
{
    <h1>Requisicíon Presupuestada</h1>
    @*@if (Session["UseRol"] == "Jefe") {*@
    @Html.Partial("_PartialPresupuestadaJefe", Model)
    @*}*@

    @Html.Partial("_PartialPresupuestadaController", Model)
    @Html.Partial("_PartialPresupuestadaBp", Model)
    @Html.Partial("_PartialPresupuestadaGerenteRRHH", Model)
    @Html.Partial("_PartialPresupuestadaGerenteUSC", Model)
}




