@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@using UTILS.Settings
@{
    ViewBag.Title = "REQUISICION PRESUPUESTADA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col">
    <div id="CNform">
        <div class="retiros-detalle">
            <div class="form-group col-md-12">
                @using (Html.BeginForm("Index", "REQUISICION_PRESUPUESTADA"))
                {
                    <h1>Requisicíon Presupuestada</h1>
                    if (User.IsInRole(SettingsManager.PerfilJefe))
                    {
                        @Html.Partial("_PartialInfoRequisicion", Model)
                    }
                    if (User.IsInRole(SettingsManager.PerfilController))
                    {
                        @Html.Partial("_PartialInfoRequisicion", Model)
                    }
                    if (User.IsInRole(SettingsManager.PerfilBp))
                    {
                        @Html.Partial("_PartialInfoRequisicion", Model)
                        @Html.Partial("_PartialInfoGeneral", Model)
                        @Html.Partial("_PartialInfoSalarial", Model)

                    }
                    if (User.IsInRole(SettingsManager.PerfilRRHH))
                    {
                        @Html.Partial("_PartialInfoRequisicion", Model)
                        @Html.Partial("_PartialInfoGeneral", Model)
                        @Html.Partial("_PartialInfoSalarial", Model)
                        @Html.Partial("_PartialAutorizacion", Model)
                    }
                    if (User.IsInRole(SettingsManager.PerfilUSC))
                    {
                        @Html.Partial("_PartialInfoRequisicion", Model)
                        @Html.Partial("_PartialInfoGeneral", Model)
                        @Html.Partial("_PartialInfoSalarial", Model)
                        @Html.Partial("_PartialAutorizacion", Model)
                    }


                    //Botones
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.ActionLink("Cancelar", "Index", "REQUISICION", routeValues: null, htmlAttributes: new { @class = "btn-cancelar-retriro col-md-3 " })
                            @if (User.IsInRole(SettingsManager.PerfilJefe))
                            {
                                <input name="submitButton" type="submit" value="Crear Requisición" class="btn-confirmar-retiro col-md-3" />
                            }
                            @if (User.IsInRole(SettingsManager.PerfilController))
                            {
                                <input name="submitButton" type="submit" value="Aprobar" class="btn-confirmar-retiro col-md-3" />
                                <input name="submitButton" type="submit" value="Rechazar" class="btn-confirmar-retiro col-md-3" />
                            }
                            @if (User.IsInRole(SettingsManager.PerfilBp))
                            {
                                <input name="submitButton" type="submit" value="Enviar" class="btn-confirmar-retiro col-md-3" />
                            }
                            @if (User.IsInRole(SettingsManager.PerfilRRHH))
                            {
                                <input name="submitButton" type="submit" value="Aprobar" class="btn-confirmar-retiro col-md-3" />
                                <input name="submitButton" type="submit" value="Rechazar" class="btn-confirmar-retiro col-md-3" />
                                <input name="submitButton" type="submit" value="Modificar" class="btn-confirmar-retiro col-md-3" />
                            }
                            @if (User.IsInRole(SettingsManager.PerfilUSC))
                            {
                                <input name="submitButton" type="submit" value="Aprobar" class="btn-confirmar-retiro col-md-3" />
                                <input name="submitButton" type="submit" value="Rechazar" class="btn-confirmar-retiro col-md-3" />
                                <input name="submitButton" type="submit" value="Modificar" class="btn-confirmar-retiro col-md-3" />
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
    });
</script>






