<html lang="es-co">
<head>
    <meta charset="utf-8">
    <title>Gestión Humana</title>
    <!--Otras metas-->
    <meta name="author" content="Casa Editorial El Tiempo">
    <meta name="geo.region" content="CO">
    <meta name="geo.position" content="4.570868;-74.297333">
    <meta name="ICBM" content="4.570868, -74.297333">
    <meta name="geo.placename" content="Colombia">
    <meta name="genere" content="News">
    <meta name="language" content="spanish">
    <meta name="news_keywords" content="{varKeywords}">
    <meta name="HandheldFriendly" content="true">
    <meta name="copyright" content="Gestión Humana">
    @Scripts.Render("~/bundles/scriptsGH")
    @Styles.Render("~/Content/cssGH")
    @Scripts.Render("~/scripts/dropzonescripts")

    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="~/Scripts/_actionDetails.js"></script>
</head>
@{
    String CLASE;
    if (Request.IsAuthenticated)
    {
        CLASE = "retiros";
    }
    else
    {
        CLASE = "login";
    }

}
<body class="@CLASE">
    @{Html.RenderPartial("_Cabecera", RenderSection("topright", false)); }
    <div class="row">
        @{
            if (Request.IsAuthenticated)
            {

                Html.RenderPartial("_Lateral", RenderSection("topright", false));
                @RenderBody()


            }
            if (!Request.IsAuthenticated)
            {
                @RenderBody()
            }
        }
    </div>
    
    @{ Html.RenderPartial("_PieDePagina", RenderSection("topright", false)); }
    @RenderSection("scripts", required: false)
    <script type="text/javascript">

        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^[0-9]+(\,[0-9]+)?$/.test(value);
        }

        $.validator.methods.date = function (value, element) {
            var miDate = value.split('/');
            var iMes = parseInt(miDate[1]) - 1;
            return this.optional(element) ||
                !/Invalid|NaN/.test(new Date(miDate[2], iMes.toString(), miDate[0]));
        }
        $('#ModalCreacionNoJefe, #modalValidaErrorRequisicion').click(function () {
             window.location.href = '@Url.Action("ConsultarRequisiciones", "REQUISICION")';
        });


        $('#ModalRequisicionProcesada').click(function () {
             window.location.href = '@Url.Action("VALIDAR", "CUENTA")';
        });

        $('#rechazarReq').click(function () {
            debugger;
            $('#modalValidaRechazo').modal({ show: true });
        });

        $(document).ready(function () {
            ConsultarUsuario();
        });

        function ConsultarUsuario()
        {
            $.ajax({
                url: "@Url.Action("ConsultarUsuario", "REQUISICION")",
                type: 'POST',
                data: null,
                success: function (respuesta) {
                    $.each(respuesta, function (key, value) {
                        $("#nombre").html(value.NOMBRE)
                        $("#rol").html(value.ROL)
                    });                   
                },
                error: function (er) {
                    $("#nombre").html('')
                    $("#rol").html('')
                }
            });
        }

    var drawNotifications = function (requisitions) {

        $.each(requisitions, function (key, value) {
            switch (value.NOMBRE_REQUISICION.toLowerCase()) {
                case "presupuestada":
                    $(".badge-presupuestada").text(value.CANTIDAD);
                    break;
                case "no presupuestada":
                    $(".badge-no-presupuestada").text(value.CANTIDAD);
                    break;
                case "licencia":
                    $(".badge-licencia").text(value.CANTIDAD);
                    break;
                case "incapacidad":
                    $(".badge-incapacidad").text(value.CANTIDAD);
                    break;
                case "modificacion":
                    $(".badge-modificacion").text(value.CANTIDAD);
                    break;
                default:
                    break;
            }
        });
        }

    function ConsultaModificaciones() {
        $("#notificationsBadgePrimary").text("");
        $("#AddNotificaciones").text("");
            $('body').loading({
                message: 'Procesando...'
            });
            $.ajax({
                url: "@Url.Action("ConsultarModificaciones", "REQUISICION")",
                type: 'POST',
                data: null,
                success: function (respuesta) {
                    drawNotifications(respuesta);
                    $.each(respuesta, function (key, value) {
                        $("#notificationsBadgePrimary").text(value.TOTAL);
                        $("#AddNotificaciones").append('<a class="dropdown-item dropdown-notification" href="#">' +
                                                       '<div class="notification-read"><span class="badge badge-secondary">' + value.CANTIDAD +
                                                       '</span></div><div class="notifications-body"><p class="notification-texte">Tienes ' + value.CANTIDAD +
                                                       ' Requisiciones ' + value.NOMBRE_REQUISICION + ' para tramitar </p></div>' +
                                                       ((key + 1).toString() === value.TOTAL ? '' : '<hr class="hr-requisition"/>') +
                                                       '</a>')
                    });
                    $('body').loading('stop');
                },
                error: function (er){
                    $('body').loading('stop');
                }
            });
        $('body').loading('stop');
        }
        ConsultaModificaciones();

        function validarCampoNumber(name, value) {
            if (value == '') {
                $("span[for=" + name + "]").html("");
                $("input[name=" + name + "]").removeClass("input-validation-error").addClass("input-validation-valid");
                $("input[name=" + name + "]").val("0,00");
            }
        }

        function validarCampoNumberInput(name, value) {
            if (value == '') {
                $("span[for=" + name + "]").html("");
                $("input[name=" + name + "]").removeClass("input-validation-error").addClass("input-validation-valid");
                $("input[name=" + name + "]").val("0");
            }
        }

        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57 || key == 44)
        }
    </script>

 
</body>
</html>



