@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}
<section id="infoSalarial">
    <h3>Imformación Salarial Propuesta</h3>
    <div class="row">
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control E_SALARIO_FIJO CALCULO_TOTAL" } })
                @Html.ValidationMessageFor(model => model.SALARIO_FIJO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.PORCENTAJE_SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control P_SALARIO_FIJO" }, disabled = deshabilitar })
                @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_FIJO, new { @class = "P_SALARIO_FIJO", id = "hdPORCENTAJE_SALARIO_FIJO" })
                @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_FIJO, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control S_VARIABLE CALCULO_TOTAL" } })
                @Html.ValidationMessageFor(model => model.SALARIO_VARIABLE, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control P_VARIABLE CALCULO_TOTAL", disabled = deshabilitar } })
                @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { @class = "P_VARIABLE", id = "hdPORCENTAJE_SALARIO_VARIABLE" })
                @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_VARIABLE, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control E_SOBREREMUNERACION CALCULO_TOTAL" } })
                @Html.ValidationMessageFor(model => model.SOBREREMUNERACION, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.EXTRA_FIJA, new { htmlAttributes = new { @class = "form-control E_EXTRA_FIJA CALCULO_TOTAL" } })
                @Html.ValidationMessageFor(model => model.EXTRA_FIJA, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.RECARGO_NOCTURNO, new { htmlAttributes = new { @class = "form-control  E_RECARGO_NOCTURNO CALCULO_TOTAL" } })
                @Html.ValidationMessageFor(model => model.RECARGO_NOCTURNO, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.MEDIO_TRANSPORTE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MEDIO_TRANSPORTE, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.SALARIO_TOTAL, new { htmlAttributes = new { @class = "form-control S_TOTAL", disabled = deshabilitar } })
                @Html.ValidationMessageFor(model => model.SALARIO_TOTAL, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.SALARIO_TOTAL, new { @class = "S_TOTAL", id = "hdSALARIO_TOTAL" })
            </div>
        </div>
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.BONO_ANUAL, new { htmlAttributes = new { @class = "form-control E_BONO_ANUAL", disabled = deshabilitar } })
                @Html.HiddenFor(model => model.BONO_ANUAL, new { @id = "hdBONO_ANUAL" })
                @Html.ValidationMessageFor(model => model.BONO_ANUAL, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-xs-12">
            @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.NUMERO_SALARIOS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NUMERO_SALARIOS, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</section>

<script>
    $(".E_SALARIO_FIJO").focusout(function () {
        debugger;
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL").val().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(calculo);
    });

    $(".S_VARIABLE").focusout(function () {
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL").val().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(calculo);

    });

    $(".CALCULO_TOTAL").focusout(function () {
        debugger;
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var VALOR_EXTRA_FIJA = parseFloat($(".E_EXTRA_FIJA").val().replace(",", "."));
        var VALOR_RECARGO_NOCTURNO = parseFloat($(".E_RECARGO_NOCTURNO").val().replace(",", "."));
        var calculo = (VALOR_SALARIO_FIJO + VALOR_SALARIO_VARIABLE + VALOR_SOBREREMUNERACION + VALOR_EXTRA_FIJA + VALOR_RECARGO_NOCTURNO).toString().replace(".", ",");;
        $(".S_TOTAL").val(calculo);

        // SALARIO FIJO
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL").val().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(calculo);

        // SALARIO VARIABLE
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL").val().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(calculo);
    });
</script>

