@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}
<section id="infoSalarial">
    <h3>Imformación Salarial</h3>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SALARIO_FIJO)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PORCENTAJE_SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_FIJO)
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_FIJO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SALARIO_VARIABLE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_VARIABLE)
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_VARIABLE)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SOBREREMUNERACION)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.PORCENTAJE_SOBREREMUNERACION, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PORCENTAJE_SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SOBREREMUNERACION)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.EXTRA_FIJA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EXTRA_FIJA)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.RECARGO_NOCTURNO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RECARGO_NOCTURNO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.MEDIO_TRANSPORTE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MEDIO_TRANSPORTE)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.SALARIO_TOTAL, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.SALARIO_TOTAL)
            @Html.ValidationMessageFor(model => model.SALARIO_TOTAL)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BONO_ANUAL, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.BONO_ANUAL)
            @Html.ValidationMessageFor(model => model.BONO_ANUAL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.NUMERO_SALARIOS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NUMERO_SALARIOS)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.MESES_GARANTIZADOS, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.MESES_GARANTIZADOS, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MESES_GARANTIZADOS)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_SALARIO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_TIPO_SALARIO, Model.LIST_NOMBRE_TIPO_SALARIO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_TIPO_SALARIO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.FACTOR_PRESTACIONAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FACTOR_PRESTACIONAL, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.FACTOR_PRESTACIONAL)
            @Html.ValidationMessageFor(model => model.FACTOR_PRESTACIONAL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.INGRESO_PROM_MENSUAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.INGRESO_PROM_MENSUAL, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.INGRESO_PROM_MENSUAL)
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_MENSUAL)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.INGRESO_PROM_ANUAL, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.INGRESO_PROM_ANUAL, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.INGRESO_PROM_ANUAL)
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_ANUAL)
        </div>
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.MERCADO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_MERCADO, Model.LIST_MERCADO, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_MERCADO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CATEGORIA, Model.LIST_NOMBRE_CATEGORIA, "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CATEGORIA)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            <div id="idPuntoMedio" style="border:solid 1px;padding:5px">

                <h5>Punto Medio</h5>
                <div style="border:solid 1px;padding:5px">
                    <div class="row">
                        <div class="col-4">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_80)
                        </div>
                        <div class="col-4">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_100)
                        </div>
                        <div class="col-4">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_120)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            @Html.EditorFor(model => model.PUNTO_MEDIO_80, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_80)
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_80)
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(model => model.PUNTO_MEDIO_100, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_100)
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_100)
                        </div>
                        <div class="col-4">
                            @Html.EditorFor(model => model.PUNTO_MEDIO_120, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_120)
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_120)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 col-sm-12">
            @Html.LabelFor(model => model.POSICIONAMIENTO, htmlAttributes: new { @class = "control-label col-md-12" })
            @Html.EditorFor(model => model.POSICIONAMIENTO, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
            @Html.HiddenFor(model => model.POSICIONAMIENTO)
            @Html.ValidationMessageFor(model => model.POSICIONAMIENTO)
        </div>
    </div>
</section>

