@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}
<section id="infoGeneral">
    <div class="panel-heading row">
        <div class="span-icon-arrow div-span-collapseInfoSalarialIncap2">
            <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
        </div>
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoSalarialIncap2">
            <h2>Información Salarial Propuesta Adicional</h2>
        </a>
        <span class="span_infoSalarialLi2  span-alert-modify" style="visibility:hidden" data-toggle="tooltip" title="Modificada">
            <img src="../../assets/img/return-alert-modify.svg" class="img-responsive maxImagen" />
        </span>
    </div>
    <div id="collapseInfoSalarialIncap2" class="panel-collapse collapse">

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MESES_GARANTIZADOS, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-11" style="padding-left:0px">
                    @Html.EditorFor(model => model.MESES_GARANTIZADOS, new { htmlAttributes = new { @class = "form-control TexboxIncicial no-width", disabled = deshabilitar, onBlur = "validarCampoNumberInput(this.name, this.value)" } })
                    <span id="MESES_GARANTIZADOS_S" class="btn_traza btn-traza-modify span-modify-hidden" onclick="ConsultaTraza('MESES_GARANTIZADOS')" data-toggle="tooltip" data-placement="top" style="visibility:hidden;right:-31px">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.MESES_GARANTIZADOS, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MESES_GARANTIZADOS, new { id = "hdMESES_GARANTIZADOS" })
                </div>

            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.NOMBRE_TIPO_SALARIO, new { @class = "control-label" })
                <div class="col-md-11" style="padding-left:0px">
                    @Html.DropDownListFor(model => model.COD_TIPO_SALARIO, Model.LIST_NOMBRE_TIPO_SALARIO, "Seleccione tipo de salario", new { @class = "form-control TexboxIncicial no-width", disabled = deshabilitar })
                    <span id="NOMBRE_TIPO_SALARIO_S" class="btn_traza btn-traza-modify span-modify-hidden" onclick="ConsultaTraza('NOMBRE_TIPO_SALARIO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden;right:-31px">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.COD_TIPO_SALARIO, "", new { @class = "text-danger" })
                </div>


                @Html.HiddenFor(model => model.COD_TIPO_SALARIO, new { id = "hdCOD_TIPO_SALARIO" })
                @Html.HiddenFor(model => model.NOMBRE_TIPO_SALARIO, new { id = "hdNOMBRE_TIPO_SALARIO" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.FACTOR_PRESTACIONAL, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-11" style="padding-left:0px">
                    @Html.EditorFor(model => model.FACTOR_PRESTACIONAL, new { htmlAttributes = new { @class = "form-control TexboxIncicial E_FACTOR_PRESTACIONAL no-width", disabled = deshabilitar, onBlur = "validarCampoNumber(this.name, this.value)", onkeypress = "return soloNumeros(event)" } })
                    <span id="FACTOR_PRESTACIONAL_S" class="btn_traza btn-traza-modify span-modify-hidden" onclick="ConsultaTraza('FACTOR_PRESTACIONAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden;right:-31px">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.FACTOR_PRESTACIONAL, new { @id = "hdFACTOR_PRESTACIONAL" })
                    @Html.ValidationMessageFor(model => model.FACTOR_PRESTACIONAL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                <div class="salarioTotalEstilos">
                    @Html.LabelFor(model => model.INGRESO_PROM_MENSUAL, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                    <span class="valorSalarioTotal col-md-6">@Model.INGRESO_PROM_MENSUAL</span>
                    <span id="INGRESO_PROM_MENSUAL_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('INGRESO_PROM_MENSUAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.INGRESO_PROM_MENSUAL, new { @class = "E_INGRESO_PROM_MENSUAL", id = "hdINGRESO_PROM_MENSUAL" })
                    @Html.ValidationMessageFor(model => model.INGRESO_PROM_MENSUAL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12">
                <div class="salarioTotalEstilos">
                    @Html.LabelFor(model => model.INGRESO_PROM_ANUAL, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                    <span class="valorSalarioTotal col-md-6">@Model.INGRESO_PROM_ANUAL</span>
                    <span id="INGRESO_PROM_ANUAL_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('INGRESO_PROM_ANUAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.INGRESO_PROM_ANUAL, new { @class = "E_INGRESO_PROM_ANUAL", id = "hdINGRESO_PROM_ANUAL" })
                    @Html.ValidationMessageFor(model => model.INGRESO_PROM_ANUAL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MERCADO, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.DropDownListFor(model => model.COD_MERCADO, Model.LIST_MERCADO, "Seleccione el mercado", new { @class = "form-control TexboxIncicial col-md-11 no-width", disabled = deshabilitar })
                    <span id="MERCADO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('MERCADO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.COD_MERCADO, "", new { @class = "text-danger" })
                </div>

                @Html.HiddenFor(model => model.COD_MERCADO, new { id = "hdCOD_MERCADO" })
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.DropDownListFor(model => model.COD_CATEGORIA, Model.LIST_NOMBRE_CATEGORIA, "Seleccione una categoria ", new { @class = "form-control TexboxIncicial col-md-11 no-width", disabled = deshabilitar })
                    <span id="CATRGORIA_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('CATRGORIA')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.COD_CATEGORIA, "", new { @class = "text-danger" })
                </div>

                @Html.HiddenFor(model => model.COD_CATEGORIA, new { id = "hdCOD_CATEGORIA" })

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                <div class="row">
                    <div class="form-group col-md-12 col-sm-12 porcentajeSalarial">
                        <div class="salarioTotalEstilos">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_80, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                            <span class="valorSalarioTotal col-md-6">@Model.PUNTO_MEDIO_80</span>
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_80, new { id = "hdPUNTO_MEDIO_80" })
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_80)
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 porcentajeSalarial">
                        <div class="salarioTotalEstilos">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_100, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                            <span class="valorSalarioTotal col-md-6">@Model.PUNTO_MEDIO_100</span>
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_100, new { id = "hdPUNTO_MEDIO_100" })
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_100)
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 porcentajeSalarial">
                        <div class="salarioTotalEstilos">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_120, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                            <span class="valorSalarioTotal col-md-6">@Model.PUNTO_MEDIO_120</span>
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_120, new { id = "hdPUNTO_MEDIO_120" })
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_120)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separadorPuntosMedio"></div>
        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                <div class="salarioTotalEstilos">
                    @Html.LabelFor(model => model.POSICIONAMIENTO, htmlAttributes: new { @class = "control-label col-md-6" })
                    <span class="valorSalarioTotal col-md-6">@Model.POSICIONAMIENTO</span>
                    <span id="POSICIONAMIENTO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('POSICIONAMIENTO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.POSICIONAMIENTO, new { id = "hdPOSICIONAMIENTO" })
                    @Html.ValidationMessageFor(model => model.POSICIONAMIENTO)
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .btn-traza-modify {
        right: -31px
    }
</style>

<script>
    var cantInfoSalarialIncap2 = 8;

    var validateInfoSalarialIncap2 = true;
    var validateFormInfoSalarialIncap2 = function () {
        if (!$('#COD_MERCADO').valid() ||
            !$('#COD_CATEGORIA').valid()) {
            validateInfoSalarialIncap2 = false;
        } else {
            validateInfoSalarialIncap2 = true;
        }
        console.log('validateInfoSalarialIncap2 ', validateInfoSalarialIncap2);
        return validateInfoSalarialIncap2;
    }

    $("#collapseInfoSalarialIncap2").on("hide.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialIncap2").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseInfoSalarialIncap2").on("show.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialIncap2").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });


    $(document).ready(function () {

        function intlRound(numero) {
            var opciones = {
                maximumFractionDigits: 2,
                useGrouping: false
            };
            numero = numero.replace(",", ".");
            usarComa = "es";
            return new Intl.NumberFormat(usarComa, opciones).format(numero);
        }

        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var VALOR_EXTRA_FIJA = parseFloat($(".E_EXTRA_FIJA").val().replace(",", "."));
        var VALOR_RECARGO_NOCTURNO = parseFloat($(".E_RECARGO_NOCTURNO").val().replace(",", "."));
        var calculo = (VALOR_SALARIO_FIJO + VALOR_SALARIO_VARIABLE + VALOR_SOBREREMUNERACION + VALOR_EXTRA_FIJA + VALOR_RECARGO_NOCTURNO).toString().replace(".", ",");;
        $(".S_TOTAL").text(intlRound(calculo));
        $(".S_TOTAL").val(intlRound(calculo));
        // SALARIO FIJO
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(intlRound(calculo));


        // SALARIO VARIABLE
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(intlRound(calculo));

        // SOBREREMUNERACION
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SOBREREMUNERACION * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SOBREREMUNERACION").val(intlRound(calculo));

        var FACTOR_PRESTACIONAL = $(".E_FACTOR_PRESTACIONAL").val().replace(",", ".");
        var valor_total = $(".S_TOTAL_UNICO").text().replace(",", ".");
        var calculo_mensual = (FACTOR_PRESTACIONAL * valor_total / 12).toString().replace(".", ",");
        debugger;
        $(".E_INGRESO_PROM_MENSUAL").val(intlRound(calculo_mensual));


        var calculo_pro_anual = (FACTOR_PRESTACIONAL * valor_total).toString().replace(".", ",");
        $(".E_INGRESO_PROM_ANUAL").val(intlRound(calculo_pro_anual));
    });


    $(".E_SALARIO_FIJO").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(intlRound(calculo));
    });

    $(".S_VARIABLE").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(intlRound(calculo));

    });

    $(".E_SOBREREMUNERACION").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SOBREREMUNERACION * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SOBREREMUNERACION").val(intlRound(calculo));
    });

    $(".CALCULO_TOTAL").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var VALOR_EXTRA_FIJA = parseFloat($(".E_EXTRA_FIJA").val().replace(",", "."));
        var VALOR_RECARGO_NOCTURNO = parseFloat($(".E_RECARGO_NOCTURNO").val().replace(",", "."));
        var calculo = (VALOR_SALARIO_FIJO + VALOR_SALARIO_VARIABLE + VALOR_SOBREREMUNERACION + VALOR_EXTRA_FIJA + VALOR_RECARGO_NOCTURNO).toString().replace(".", ",");;
        $(".S_TOTAL").text(intlRound(calculo));
        $(".S_TOTAL").val(intlRound(calculo));
        // SALARIO FIJO
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(intlRound(calculo));


        // SALARIO VARIABLE
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(intlRound(calculo));

        // SOBREREMUNERACION
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SOBREREMUNERACION * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SOBREREMUNERACION").val(intlRound(calculo));

        var FACTOR_PRESTACIONAL = $(".E_FACTOR_PRESTACIONAL").val().replace(",", ".");
        var valor_total = $(".S_TOTAL_UNICO").text().replace(",", ".");
        var calculo_mensual = (FACTOR_PRESTACIONAL * valor_total / 12).toString().replace(".", ",");
        debugger;
        $(".E_INGRESO_PROM_MENSUAL").val(intlRound(calculo_mensual));

        var calculo_pro_anual = (FACTOR_PRESTACIONAL * valor_total).toString().replace(".", ",");
        $(".E_INGRESO_PROM_ANUAL").val(intlRound(calculo_pro_anual));
    });

    setTimeout(function () {
        if ($('#collapseInfoSalarialIncap2 span.span-modify-hidden').length < cantInfoSalarialIncap2) {
            $('.span_infoSalarialLi2').css("visibility", "visible");
        }
    }, 500);
</script>
