@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}
<section id="infoGeneral">
    <div class="panel-heading row">
        <div class="span-icon-arrow div-span-collapseInfoGeneralPropLic">
            <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
        </div>
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoGeneralPropLic">
            <h2>Tipo de Contrato</h2>
        </a>
        <span class="span_infoGeneralProPuestaLi span-alert-modify" style="visibility:hidden" data-toggle="tooltip" title="Modificada">
            <i class="fas fa-exclamation-circle" style="color:darkorange"></i>
        </span>
    </div>
    <div id="collapseInfoGeneralPropLic" class="panel-collapse collapse">
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @if (Model.COD_TIPO_CONTRATO == null && Model.COD_TIPO_CONTRATO == 0)
                {
                    @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_CONTRATO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.DropDownListFor(model => model.COD_TIPO_CONTRATO, Model.LIST_NOMBRE_TIPO_CONTRATO, "-- Seleccione --", new { @class = "form-control TexboxIncicial letrasFormulario", disabled = deshabilitar })
                    @*@Html.HiddenFor(model => model.COD_TIPO_CONTRATO)*@
                    @Html.ValidationMessageFor(model => model.COD_TIPO_CONTRATO)
                }
                else
                {
                    @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_CONTRATO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.DropDownListFor(model => model.COD_TIPO_CONTRATO, Model.LIST_NOMBRE_TIPO_CONTRATO, new { @class = "form-control TexboxIncicial letrasFormulario", disabled = deshabilitar })
                    @*@Html.HiddenFor(model => model.COD_TIPO_CONTRATO)*@
                    @Html.ValidationMessageFor(model => model.COD_TIPO_CONTRATO)
                }

            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.JEFE_INMEDIATO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.TextBoxFor(model => model.JEFE_INMEDIATO, new { @class = "form-control TexboxIncicial letrasFormulario", disabled = deshabilitar })
                @*@Html.HiddenFor(model => model.JEFE_INMEDIATO)*@
                @Html.ValidationMessageFor(model => model.JEFE_INMEDIATO)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                @if (Model.COD_NIVEL_RIESGO_ARL == null && Model.COD_NIVEL_RIESGO_ARL == 0)
                {
                    @Html.LabelFor(model => model.LIST_NIVEL_RIESGO_ARL, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="col-md-3" style="padding-left:0px">
                        @Html.DropDownListFor(model => model.COD_NIVEL_RIESGO_ARL, Model.LIST_NIVEL_RIESGO_ARL, "-- Seleccione --", new { @class = "form-control TexboxIncicial letrasFormulario", disabled = deshabilitar })
                        <span id="NOMBRE_ARL_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('NOMBRE_ARL')" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                        @*@Html.HiddenFor(model => model.COD_NIVEL_RIESGO_ARL)*@
                        @Html.ValidationMessageFor(model => model.COD_NIVEL_RIESGO_ARL)
                    </div>
                }
                else
                {
                    @Html.LabelFor(model => model.LIST_NIVEL_RIESGO_ARL, new { htmlAttributes = new { @class = "form-control" } })
                    <div class="col-md-3" style="padding-left:0px">
                        @Html.DropDownListFor(model => model.COD_NIVEL_RIESGO_ARL, Model.LIST_NIVEL_RIESGO_ARL, new { @class = "form-control TexboxIncicial letrasFormulario", disabled = deshabilitar })
                        <span id="NOMBRE_ARL_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('NOMBRE_ARL')" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                        @*@Html.HiddenFor(model => model.COD_NIVEL_RIESGO_ARL)*@
                        @Html.ValidationMessageFor(model => model.COD_NIVEL_RIESGO_ARL)
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@*<style>
    .trazaCentrar {
        position: absolute !important;
        top: 32px !important;
    }
</style>*@
<script>
    var cantInfoGeneralPropLic = 1;
    var validateTipoContrato = true;
    var validateFormTipoContrato = function () {
        if (!$('#COD_TIPO_CONTRATO').valid() ||
            !$('#JEFE_INMEDIATO').valid() ||
            !$('#COD_NIVEL_RIESGO_ARL').valid()) {
            validateTipoContrato = false;
        } else {
            validateTipoContrato = true;
        }
        console.log('validateTipoContrato ', validateTipoContrato);
        return validateTipoContrato;
    }

    $("#collapseInfoGeneralPropLic").on("hide.bs.collapse", function () {
        $(".div-span-collapseInfoGeneralPropLic").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseInfoGeneralPropLic").on("show.bs.collapse", function () {
        $(".div-span-collapseInfoGeneralPropLic").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });

    setTimeout(function () {
        if (cantInfoGeneralPropLic < $('#collapseInfoGeneralPropLic span.span-modify-hidden').length) {
            $('.span_infoGeneralProPuestaLi').css("visibility", "visible");
        }
    }, 600);
</script>