@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@using UTILS.Settings;
@{string deshabilitar = "true";}

@if (User.IsInRole(SettingsManager.PerfilController))
{

<section id="infoSalarial">
    <div class="panel-heading row">
        <div class="span-icon-arrow div-span-collapseInfoSalarialIncap">
            <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
        </div>
        @if (User.IsInRole(SettingsManager.PerfilJefe) || User.IsInRole(SettingsManager.PerfilController))
        {
        <a class="a-collapse">
            <h2>Información Salarial Propuesta</h2>
        </a>
        }
        else
        {
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoSalarialIncap">
            <h2>Información Salarial Propuesta</h2>
        </a>
        }
        <span class="span_infoSalarialLi span-alert-modify" style="visibility:hidden" data-toggle="tooltip" title="Modificada">
            <img src="../../assets/img/return-alert-modify.svg" class="img-responsive maxImagen" />
        </span>
    </div>
    <div id="collapseInfoSalarialIncap" class="panel-collapse collapse">
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control E_SALARIO_FIJO CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="SALARIO_FIJO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SALARIO_FIJO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SALARIO_FIJO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.PORCENTAJE_SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control P_SALARIO_FIJO col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_FIJO, new { @class = "P_SALARIO_FIJO", id = "hdPORCENTAJE_SALARIO_FIJO" })
                    <span id="PORCENTAJE_SALARIO_FIJO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('PORCENTAJE_SALARIO_FIJO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_FIJO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control S_VARIABLE CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="SALARIO_VARIABLE_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SALARIO_VARIABLE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SALARIO_VARIABLE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control P_VARIABLE CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="PORCENTAJE_SALARIO_VARIABLE_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('PORCENTAJE_SALARIO_VARIABLE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { @class = "P_VARIABLE", id = "hdPORCENTAJE_SALARIO_VARIABLE" })
                    @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_VARIABLE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control E_SOBREREMUNERACION CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="SOBREREMUNERACION_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SOBREREMUNERACION')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SOBREREMUNERACION, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.SOBREREMUNERACION, new { @class = "P_VARIABLE", id = "hdSOBREREMUNERACION" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.EXTRA_FIJA, new { htmlAttributes = new { @class = "form-control E_EXTRA_FIJA CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="EXTRA_FIJA_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('EXTRA_FIJA')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.EXTRA_FIJA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.RECARGO_NOCTURNO, new { htmlAttributes = new { @class = "form-control  E_RECARGO_NOCTURNO CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="RECARGO_NOCTURNO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('RECARGO_NOCTURNO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.RECARGO_NOCTURNO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.MEDIO_TRANSPORTE, new { htmlAttributes = new { @class = "form-control TexboxIncicial letrasFormulario col-md-11 no-width", disabled = deshabilitar } })
                    <span id="MEDIO_TRANSPORTE_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('MEDIO_TRANSPORTE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.MEDIO_TRANSPORTE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="salarioTotalEstilos" style="width: 809px;">
                    @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                    <span class="S_TOTAL S_TOTAL_UNICO valorSalarioTotal col-md-6">@Model.SALARIO_TOTAL</span>
                    <span id="SALARIO_TOTAL_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SALARIO_TOTAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SALARIO_TOTAL, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.SALARIO_TOTAL, new { @class = "S_TOTAL", id = "hdSALARIO_TOTAL" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                <br />
                <div class="salarioTotalEstilos" style="width: 361px;">
                    @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6" })
                    <span class="E_BONO_ANUAL valorSalarioTotal col-md-6">@Model.BONO_ANUAL</span>
                    <span id="BONO_ANUAL_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('BONO_ANUAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.BONO_ANUAL, new { @id = "hdBONO_ANUAL" })
                    @Html.ValidationMessageFor(model => model.BONO_ANUAL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.NUMERO_SALARIOS, new { htmlAttributes = new { @class = "form-control TexboxIncicial letrasFormulario col-md-11", disabled = deshabilitar } })
                <span id="NUMERO_SALARIOS_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('NUMERO_SALARIOS')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.NUMERO_SALARIOS, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</section>
}
else
{
<section id="infoSalarial">
    <div class="panel-heading row">
        <div class="span-icon-arrow div-span-collapseInfoSalarialIncap">
            <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
        </div>
        @if (User.IsInRole(SettingsManager.PerfilJefe) || User.IsInRole(SettingsManager.PerfilController))
        {
        <a class="a-collapse">
            <h2>Información Salarial Propuesta</h2>
        </a>
        }
        else
        {
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoSalarialIncap">
            <h2>Información Salarial Propuesta</h2>
        </a>
        }
        <span class="span_infoSalarialLi span-alert-modify" style="visibility:hidden" data-toggle="tooltip" title="Modificada">
            <i class="fas fa-exclamation-circle" style="color:darkorange"></i>
        </span>
    </div>
    <div id="collapseInfoSalarialIncap" class="panel-collapse collapse">
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control E_SALARIO_FIJO CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", onBlur = "validarCampoNumber(this.name, this.value)", onkeypress = "return soloNumeros(event)" } })
                    <span id="SALARIO_FIJO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SALARIO_FIJO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SALARIO_FIJO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.PORCENTAJE_SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control P_SALARIO_FIJO col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_FIJO, new { @class = "P_SALARIO_FIJO", id = "hdPORCENTAJE_SALARIO_FIJO" })
                    <span id="PORCENTAJE_SALARIO_FIJO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('PORCENTAJE_SALARIO_FIJO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_FIJO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control S_VARIABLE CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", onBlur = "validarCampoNumber(this.name, this.value)", onkeypress = "return soloNumeros(event)" } })
                    <span id="SALARIO_VARIABLE_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SALARIO_VARIABLE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SALARIO_VARIABLE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control P_VARIABLE CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="PORCENTAJE_SALARIO_VARIABLE_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('PORCENTAJE_SALARIO_VARIABLE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { @class = "P_VARIABLE", id = "hdPORCENTAJE_SALARIO_VARIABLE" })
                    @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_VARIABLE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control E_SOBREREMUNERACION CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", disabled = deshabilitar } })
                    <span id="SOBREREMUNERACION_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SOBREREMUNERACION')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SOBREREMUNERACION, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.SOBREREMUNERACION, new { id = "hdSOBREREMUNERACION" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.EXTRA_FIJA, new { htmlAttributes = new { @class = "form-control E_EXTRA_FIJA CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", onBlur = "validarCampoNumber(this.name, this.value)", onkeypress = "return soloNumeros(event)" } })
                    <span id="EXTRA_FIJA_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('EXTRA_FIJA')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.EXTRA_FIJA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.RECARGO_NOCTURNO, new { htmlAttributes = new { @class = "form-control  E_RECARGO_NOCTURNO CALCULO_TOTAL col-md-11 TexboxIncicial letrasFormulario no-width", onBlur = "validarCampoNumber(this.name, this.value)", onkeypress = "return soloNumeros(event)" } })
                    <span id="RECARGO_NOCTURNO_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('RECARGO_NOCTURNO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.RECARGO_NOCTURNO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-12" style="padding-left:0px">
                    @Html.EditorFor(model => model.MEDIO_TRANSPORTE, new { htmlAttributes = new { @class = "form-control TexboxIncicial letrasFormulario col-md-11 no-width", onBlur = "validarCampoNumber(this.name, this.value)", onkeypress = "return soloNumeros(event)" } })
                    <span id="MEDIO_TRANSPORTE_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('MEDIO_TRANSPORTE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.MEDIO_TRANSPORTE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="salarioTotalEstilos" style="width: 95%;">
                    @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "letrasSalarioTotal col-md-7", @style = "text-align:left;" })
                    <span class="S_TOTAL S_TOTAL_UNICO valorSalarioTotal col-md-5" >@Model.SALARIO_TOTAL</span>
                    <span id="SALARIO_TOTAL_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('SALARIO_TOTAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.ValidationMessageFor(model => model.SALARIO_TOTAL, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.SALARIO_TOTAL, new { @class = "S_TOTAL", id = "hdSALARIO_TOTAL" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-xs-12">
                <br />
                <div class="salarioTotalEstilos" style="width: 361px;">
                    @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6" })
                    <span class="E_BONO_ANUAL valorSalarioTotal col-md-6">@Model.BONO_ANUAL</span>
                    <span id="BONO_ANUAL_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('BONO_ANUAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.BONO_ANUAL, new { @id = "hdBONO_ANUAL" })
                    @Html.ValidationMessageFor(model => model.BONO_ANUAL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.EditorFor(model => model.NUMERO_SALARIOS, new { htmlAttributes = new { @class = "form-control TexboxIncicial letrasFormulario col-md-11", onBlur = "validarCampoNumberInput(this.name, this.value)" } })
                <span id="NUMERO_SALARIOS_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('NUMERO_SALARIOS')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.NUMERO_SALARIOS, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</section>

}
<script>
    var cantSpanInfoSalarialLi = 11;
    $(".E_SALARIO_FIJO").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(intlRound(calculo));
    });

    $(".S_VARIABLE").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(intlRound(calculo));

    });

    $(".E_SOBREREMUNERACION").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SOBREREMUNERACION * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SOBREREMUNERACION").val(intlRound(calculo));
    });

    $(".CALCULO_TOTAL").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var VALOR_EXTRA_FIJA = parseFloat($(".E_EXTRA_FIJA").val().replace(",", "."));
        var VALOR_RECARGO_NOCTURNO = parseFloat($(".E_RECARGO_NOCTURNO").val().replace(",", "."));
        var calculo = (VALOR_SALARIO_FIJO + VALOR_SALARIO_VARIABLE + VALOR_SOBREREMUNERACION + VALOR_EXTRA_FIJA + VALOR_RECARGO_NOCTURNO).toString().replace(".", ",");;
        $(".S_TOTAL").text(intlRound(calculo));
        $(".S_TOTAL").val(intlRound(calculo));
        // SALARIO FIJO
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(intlRound(calculo));


        // SALARIO VARIABLE
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(intlRound(calculo));

        // SOBREREMUNERACION
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SOBREREMUNERACION * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SOBREREMUNERACION").val(intlRound(calculo));
    });

    function intlRound(numero) {
        var opciones = {
            maximumFractionDigits: 2,
            useGrouping: false
        };
        numero = numero.replace(",", ".");
        usarComa = "es";
        return new Intl.NumberFormat(usarComa, opciones).format(numero);
    }

    var validateReqInfoSalarialLic = true;
    var validateFormInfoSalarialLic = function () {
        if ($('#SALARIO_FIJO').val() == "" &&
            $('#PORCENTAJE_SALARIO_FIJO').val() == "" &&
            $('#SALARIO_VARIABLE').val() == "" || !isNaN($('#SALARIO_VARIABLE').val()) ||
            $('#SOBREREMUNERACION').val() == "" || !isNaN($('#SOBREREMUNERACION').val()) ||
            $('#EXTRA_FIJA').val() == "" || !isNaN($('#EXTRA_FIJA').val()) ||
            $('#RECARGO_NOCTURNO').val() == "" || !isNaN($('#RECARGO_NOCTURNO').val()) ||
            $('#MEDIO_TRANSPORTE').val() == "" || !isNaN($('#MEDIO_TRANSPORTE').val())) {
            validateReqInfoSalarialLic = false;
        } else {
            validateReqInfoSalarialLic = true;
        }
        console.log('validateReqInfoSalarialLic ', validateReqInfoSalarialLic);
        return validateReqInfoSalarialLic;
    }

    var perfilJefe = "@User.IsInRole(SettingsManager.PerfilJefe).ToString()";
    var perfilController = "@User.IsInRole(SettingsManager.PerfilController).ToString()";
    if (perfilJefe.toString() == "True" || perfilController.toString() == "True")
    {
        $("#collapseInfoSalarialIncap").addClass('show');
    }

    $("#collapseInfoSalarialIncap").on("hide.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialIncap").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseInfoSalarialIncap").on("show.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialIncap").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });
    window.onload = function () {
        if ($('#collapseInfoSalarialIncap span.span-modify-hidden').length < cantSpanInfoSalarialLi) {
            $('.span_infoSalarialLi').css("visibility", "visible");
        }
    };

    $(".E_SALARIO_FIJO").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(intlRound(calculo));
    });

    $(".S_VARIABLE").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(intlRound(calculo));

    });

    $(".E_SOBREREMUNERACION").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SOBREREMUNERACION * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SOBREREMUNERACION").val(intlRound(calculo));
    });

    $(".CALCULO_TOTAL").focusout(function () {
        validar(this.value, this.name);
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var VALOR_EXTRA_FIJA = parseFloat($(".E_EXTRA_FIJA").val().replace(",", "."));
        var VALOR_RECARGO_NOCTURNO = parseFloat($(".E_RECARGO_NOCTURNO").val().replace(",", "."));
        var calculo = (VALOR_SALARIO_FIJO + VALOR_SALARIO_VARIABLE + VALOR_SOBREREMUNERACION + VALOR_EXTRA_FIJA + VALOR_RECARGO_NOCTURNO).toString().replace(".", ",");;
        $(".S_TOTAL").text(intlRound(calculo));
        $(".S_TOTAL").val(intlRound(calculo));
        // SALARIO FIJO
        var VALOR_SALARIO_FIJO = parseFloat($(".E_SALARIO_FIJO").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_FIJO * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SALARIO_FIJO").val(intlRound(calculo));


        // SALARIO VARIABLE
        var VALOR_SALARIO_VARIABLE = parseFloat($(".S_VARIABLE").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SALARIO_VARIABLE * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_VARIABLE").val(intlRound(calculo));

        // SOBREREMUNERACION
        var VALOR_SOBREREMUNERACION = parseFloat($(".E_SOBREREMUNERACION").val().replace(",", "."));
        var SALARIO_TOTAL = parseFloat($(".S_TOTAL_UNICO").text().replace(",", "."));
        var calculo = ((VALOR_SOBREREMUNERACION * 100) / SALARIO_TOTAL).toString().replace(".", ",");
        $(".P_SOBREREMUNERACION").val(intlRound(calculo));
    });

    function intlRound(numero) {
        var opciones = {
            maximumFractionDigits: 2,
            useGrouping: false
        };
        numero = numero.replace(",", ".");
        usarComa = "es";
        return new Intl.NumberFormat(usarComa, opciones).format(numero);
    }

    var validateReqInfoSalarialLic = true;
    var validateFormInfoSalarialLic = function () {
        if ($('#SALARIO_FIJO').val() == "" &&
            $('#PORCENTAJE_SALARIO_FIJO').val() == "" &&
            $('#SALARIO_VARIABLE').val() == "" || !isNaN($('#SALARIO_VARIABLE').val()) ||
            $('#SOBREREMUNERACION').val() == "" || !isNaN($('#SOBREREMUNERACION').val()) ||
            $('#EXTRA_FIJA').val() == "" || !isNaN($('#EXTRA_FIJA').val()) ||
            $('#RECARGO_NOCTURNO').val() == "" || !isNaN($('#RECARGO_NOCTURNO').val()) ||
            $('#MEDIO_TRANSPORTE').val() == "" || !isNaN($('#MEDIO_TRANSPORTE').val())) {
            validateReqInfoSalarialLic = false;
        } else {
            validateReqInfoSalarialLic = true;
        }
        console.log('validateReqInfoSalarialLic ', validateReqInfoSalarialLic);
        return validateReqInfoSalarialLic;
    }

    $("#collapseInfoSalarialIncap").on("hide.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialIncap").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseInfoSalarialIncap").on("show.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialIncap").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });    


</script>