@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}








<div class="row">
    <div class="form-group col-md-6 col-sm-12">
        @Html.LabelFor(model => model.MESES_GARANTIZADOS, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.MESES_GARANTIZADOS, new { htmlAttributes = new { @class = "form-control col-md-11", @id = "nombreEmpleado" } })
            <span class="btn_traza" onclick="ConsultaTraza('MESES_GARANTIZADOS')" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
            @Html.ValidationMessageFor(model => model.MESES_GARANTIZADOS, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
        @Html.LabelFor(model => model.NOMBRE_TIPO_SALARIO, "Tipo de Salario", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_TIPO_SALARIO, Model.LIST_NOMBRE_TIPO_SALARIO, "Seleccione ", new { @class = "form-control col-md-11" })
            <span class="btn_traza" onclick="ConsultaTraza('NOMBRE_TIPO_SALARIO')" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
            @Html.ValidationMessageFor(model => model.LIST_NOMBRE_TIPO_SALARIO, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6 ">
        @Html.LabelFor(model => model.FACTOR_PRESTACIONAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.FACTOR_PRESTACIONAL, new { htmlAttributes = new { @class = "form-control E_FACTOR_PRESTACIONAL col-md-11", disabled = deshabilitar } })
            <span class="btn_traza" onclick="ConsultaTraza('FACTOR_PRESTACIONAL')" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
            @Html.HiddenFor(model => model.FACTOR_PRESTACIONAL, new { @id = "hdFACTOR_PRESTACIONAL" })
            @Html.ValidationMessageFor(model => model.FACTOR_PRESTACIONAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 ">
        @Html.LabelFor(model => model.INGRESO_PROM_MENSUAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.INGRESO_PROM_MENSUAL, new { htmlAttributes = new { @class = "form-control E_INGRESO_PROM_MENSUAL col-md-11", disabled = deshabilitar } })
            <span class="btn_traza" onclick="ConsultaTraza('INGRESO_PROM_MENSUAL')" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
            @Html.HiddenFor(model => model.INGRESO_PROM_MENSUAL, new { @class = "E_INGRESO_PROM_MENSUAL", id = "hdINGRESO_PROM_MENSUAL" })
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_MENSUAL, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6 ">
        @Html.LabelFor(model => model.INGRESO_PROM_ANUAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.INGRESO_PROM_ANUAL, new { htmlAttributes = new { @class = "form-control E_INGRESO_PROM_ANUAL col-md-11", disabled = deshabilitar } })
            <span class="btn_traza" onclick="ConsultaTraza('INGRESO_PROM_ANUAL')" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
            @Html.HiddenFor(model => model.INGRESO_PROM_ANUAL, new { @class = "E_INGRESO_PROM_ANUAL", id = "hdINGRESO_PROM_ANUAL" })
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_ANUAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 ">
        @Html.LabelFor(model => model.MERCADO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_MERCADO, Model.LIST_MERCADO, "-- Seleccione --", new { @class = "form-control col-md-11" })
            <span class="btn_traza" onclick="ConsultaTraza('MERCADO')" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
            @Html.ValidationMessageFor(model => model.COD_MERCADO, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA, "Categoría", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_CATEGORIA, Model.LIST_NOMBRE_CATEGORIA, "Seleccione ", new { @class = "form-control col-md-11" })
            <span class="btn_traza" onclick="ConsultaTraza('CATRGORIA')" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
            @Html.ValidationMessageFor(model => model.COD_CATEGORIA, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-12 col-sm-12">
        <div id="idPuntoMedio" style="border:solid 1px;padding:5px" class="col-md-12">
            <h5>Punto Medio</h5>
            <div style="border:solid 1px;padding:5px">
                <div class="row">
                    <div class="col-4">
                        @Html.LabelFor(model => model.PUNTO_MEDIO_80)
                    </div>
                    <div class="col-4">
                        @Html.LabelFor(model => model.PUNTO_MEDIO_100)
                    </div>
                    <div class="col-4">
                        @Html.LabelFor(model => model.PUNTO_MEDIO_120)
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        @Html.EditorFor(model => model.PUNTO_MEDIO_80, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
                        @Html.HiddenFor(model => model.PUNTO_MEDIO_80)
                        @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_80)
                    </div>
                    <div class="col-4">
                        @Html.EditorFor(model => model.PUNTO_MEDIO_100, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
                        @Html.HiddenFor(model => model.PUNTO_MEDIO_100)
                        @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_100)
                    </div>
                    <div class="col-4">
                        @Html.EditorFor(model => model.PUNTO_MEDIO_120, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
                        @Html.HiddenFor(model => model.PUNTO_MEDIO_120)
                        @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_120)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12 col-sm-12">
        @Html.LabelFor(model => model.POSICIONAMIENTO, htmlAttributes: new { @class = "control-label col-md-11" })
        @Html.EditorFor(model => model.POSICIONAMIENTO, new { htmlAttributes = new { @class = "form-control", disabled = deshabilitar } })
        <span class="btn_traza" onclick="ConsultaTraza('POSICIONAMIENTO')" style="position: absolute; top: 33px;" data-toggle="tooltip" data-placement="top" >  <i class="fa fa-check btn_centar"></i></span>
        @Html.HiddenFor(model => model.POSICIONAMIENTO, new { id = "hdPOSICIONAMIENTO" })
        @Html.ValidationMessageFor(model => model.POSICIONAMIENTO)
    </div>
</div>
<script src="~/js/CALCULOS_SALARIOS.js"></script>
