@using UTILS.Settings
@{
    List<SelectListItem> _BUSCAR_USUARIOS = ViewBag.Busca_USUARIOS;
    string deshabilitar = "true";
}
@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
<section id="Requisicion">
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.HiddenFor(model => model.COD_REQUISICION)
            @Html.HiddenFor(model => model.COD_ESTADO_REQUISICION)

            @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_NECESIDAD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_TIPO_NECESIDAD, new SelectList(Model.LIST_NOMBRE_TIPO_NECESIDAD, "Value", "Text", Model.COD_TIPO_NECESIDAD), "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_TIPO_NECESIDAD)
        </div>

        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.LIST_NOMBRE_CARGO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CARGO, new SelectList(Model.LIST_NOMBRE_CARGO, "Value", "Text", Model.COD_CARGO), "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CARGO)
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.ORDEN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.TextBoxFor(model => model.ORDEN, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ORDEN)
        </div>

        <div class="form-group col-md-6 col-sm-12">
            @Html.LabelFor(model => model.COD_CECO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownListFor(model => model.COD_CECO, new SelectList(Model.LIST_NOMBRE_CECO, "Value", "Text", Model.COD_CECO), "-- Seleccione --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.COD_CECO)
        </div>


        @Html.HiddenFor(x => x.COD_REQUISICION)

        @if (User.IsInRole(SettingsManager.PerfilJefe))
        {

            <div class="form-group col-md-12 col-sm-12">
                @Html.LabelFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.CheckBoxFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control CH_ESMODIFICACION" } })
                <span></span>
            </div>
            <div class="form-group col-md-12 col-sm-12 buscadorR">
                <input class="form-control" id="BuscadorUsuario" type="text" placeholder="Search..">
                <br>
                <ul class="list-group menu-scroll" id="myList">
                    @foreach (SelectListItem item in _BUSCAR_USUARIOS)
                    {
                        <li class="list-group-item" onclick="AgarrarValorFiltro('@item.Text','@item.Value')">@item.Text<br /> @item.Value</li>
                    }

                </ul>
                <div class="form-group col-md-12 col-sm-12">
                    @Html.LabelFor(model => model.NOMBRE_EMPLEADO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.TextBoxFor(model => model.NOMBRE_EMPLEADO, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NOMBRE_EMPLEADO)
                </div>

                <div class="form-group col-md-12 col-sm-12">
                    @Html.LabelFor(model => model.NUMERO_DOCUMENTO_EMPLEADO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.TextBoxFor(model => model.NUMERO_DOCUMENTO_EMPLEADO, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NUMERO_DOCUMENTO_EMPLEADO)
                </div>
            </div>
        }
        else
        {
            if (Model.ES_MODIFICACION)
            {
                <div class="form-group col-md-12 col-sm-12">
                    @Html.LabelFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.CheckBoxFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control CH_ESMODIFICACION" }, disabled = deshabilitar })
                    <span></span>
                </div>
                <div class="form-group col-md-12 col-sm-12">
                    @Html.LabelFor(model => model.NOMBRE_EMPLEADO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.TextBoxFor(model => model.NOMBRE_EMPLEADO, new { @class = "form-control", disabled = deshabilitar })
                    @Html.ValidationMessageFor(model => model.NOMBRE_EMPLEADO)
                </div>

                <div class="form-group col-md-12 col-sm-12">
                    @Html.LabelFor(model => model.NUMERO_DOCUMENTO_EMPLEADO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.TextBoxFor(model => model.NUMERO_DOCUMENTO_EMPLEADO, new { @class = "form-control", disabled = deshabilitar })
                    @Html.ValidationMessageFor(model => model.NUMERO_DOCUMENTO_EMPLEADO)
                </div>
            }
        }

    </div>
</section>

<style>
    .menu-scroll {
        overflow-y: scroll;
        max-height: 200px;
        margin-bottom: 30px;
    }

    .list-group-item {
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
        $(".buscadorR").css("display", "none");

        $("#ES_MODIFICACION").click(function () {
            debugger;
            if ($("#ES_MODIFICACION").is(':checked')) {
                $(".buscadorR").css("display", "block");
            } else {
                $(".buscadorR").css("display", "none");
                $("#NOMBRE_EMPLEADO").val("");
                $("#NUMERO_DOCUMENTO_EMPLEADO").val("");
            }
        });


        $("#BuscadorUsuario").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myList li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    function AgarrarValorFiltro(texto, valor) {
        $("#NOMBRE_EMPLEADO").val(texto);
        $("#NUMERO_DOCUMENTO_EMPLEADO").val(valor);
    }

</script>