@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}
<section id="infoSalarial">
    <div class="panel-heading row">
        <div class="span-icon-arrow div-span-collapseInfoSalarialPresu">
            <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
        </div>
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoSalarialPresu">
            <h3>Información Salarial</h3>
        </a>
        <span class="span_infoSalarial" style="visibility:hidden"><i class="fas fa-exclamation-circle" style="color:darkorange"></i></span>
    </div>
    <div id="collapseInfoSalarialPresu" class="panel-collapse collapse">
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control E_SALARIO_FIJO CALCULO_TOTAL col-md-11 deplegablesIniciales letrasFormulario" } })
                <span id="SALARIO_FIJO_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('SALARIO_FIJO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.SALARIO_FIJO)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.PORCENTAJE_SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control P_SALARIO_FIJO col-md-11 deplegablesIniciales letrasFormulario", disabled = deshabilitar } })
                <span id="PORCENTAJE_SALARIO_FIJO_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('PORCENTAJE_SALARIO_FIJO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_FIJO, new { @class = "P_SALARIO_FIJO" })
                @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_FIJO)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control S_VARIABLE CALCULO_TOTAL col-md-11 deplegablesIniciales letrasFormulario" } })
                <span id="SALARIO_VARIABLE_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('SALARIO_VARIABLE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.SALARIO_VARIABLE)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control P_VARIABLE CALCULO_TOTAL col-md-11 deplegablesIniciales letrasFormulario", disabled = deshabilitar } })
                <span id="PORCENTAJE_SALARIO_VARIABLE_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('PORCENTAJE_SALARIO_VARIABLE')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.HiddenFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { @class = "P_VARIABLE" })
                @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_VARIABLE)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control E_SOBREREMUNERACION CALCULO_TOTAL col-md-11 deplegablesIniciales letrasFormulario" } })
                <span id="SOBREREMUNERACION_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('SOBREREMUNERACION')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.SOBREREMUNERACION)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.PORCENTAJE_SOBREREMUNERACION, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.PORCENTAJE_SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control P_SOBREREMUNERACION col-md-11 deplegablesIniciales letrasFormulario", disabled = deshabilitar } })
                <span id="PORCENTAJE_SOBREREMUNERACION_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('PORCENTAJE_SOBREREMUNERACION')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.PORCENTAJE_SOBREREMUNERACION)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.EXTRA_FIJA, new { htmlAttributes = new { @class = "form-control E_EXTRA_FIJA CALCULO_TOTAL col-md-11 deplegablesIniciales letrasFormulario" } })
                <span id="EXTRA_FIJA_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('EXTRA_FIJA')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.EXTRA_FIJA)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.RECARGO_NOCTURNO, new { htmlAttributes = new { @class = "form-control E_RECARGO_NOCTURNO CALCULO_TOTAL col-md-11 deplegablesIniciales letrasFormulario" } })
                <span id="RECARGO_NOCTURNO_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('RECARGO_NOCTURNO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.RECARGO_NOCTURNO)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.MEDIO_TRANSPORTE, new { htmlAttributes = new { @class = "form-control deplegablesIniciales letrasFormulario" } })
                @Html.ValidationMessageFor(model => model.MEDIO_TRANSPORTE)
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="salarioTotalEstilos">
                    @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style= "text-align:left;" })
                    <span class="S_TOTAL S_TOTAL_UNICO valorSalarioTotal col-md-6">@Model.SALARIO_TOTAL</span>
                    <span id="SALARIO_TOTAL_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('SALARIO_TOTAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                    @Html.HiddenFor(model => model.SALARIO_TOTAL, new { @class = "S_TOTAL" })
                    @Html.ValidationMessageFor(model => model.SALARIO_TOTAL)
                </div>

            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.BONO_ANUAL, new { htmlAttributes = new { @class = "form-control E_BONO_ANUAL col-md-11 TexboxIncicial letrasFormulario", disabled = deshabilitar } })
                <span id="BONO_ANUAL_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('BONO_ANUAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.HiddenFor(model => model.BONO_ANUAL)
                @Html.ValidationMessageFor(model => model.BONO_ANUAL)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.NUMERO_SALARIOS, new { htmlAttributes = new { @class = "form-control col-md-11 TexboxIncicial letrasFormulario" } })
                <span id="NUMERO_SALARIOS_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('NUMERO_SALARIOS')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.NUMERO_SALARIOS)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MESES_GARANTIZADOS, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.MESES_GARANTIZADOS, new { htmlAttributes = new { @class = "form-control col-md-11 TexboxIncicial letrasFormulario" } })
                <span id="MESES_GARANTIZADOS_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('MESES_GARANTIZADOS')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.MESES_GARANTIZADOS)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_SALARIO, new { @class = "letrasFormulario" })
                @Html.DropDownListFor(model => model.COD_TIPO_SALARIO, Model.LIST_NOMBRE_TIPO_SALARIO, "-- Seleccione --", new { @class = "form-control col-md-11 deplegablesIniciales letrasFormulario" })
                <span id="NOMBRE_TIPO_SALARIO_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('NOMBRE_TIPO_SALARIO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.COD_TIPO_SALARIO)
            </div>
        </div>

        <div class="row FactorPrestacional">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.FACTOR_PRESTACIONAL, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.EditorFor(model => model.FACTOR_PRESTACIONAL, new { htmlAttributes = new { @class = "form-control E_FACTOR_PRESTACIONAL col-md-11 TexboxIncicial letrasFormulario", disabled = deshabilitar } })
                <span id="FACTOR_PRESTACIONAL_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('FACTOR_PRESTACIONAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.HiddenFor(model => model.FACTOR_PRESTACIONAL)
                @Html.ValidationMessageFor(model => model.FACTOR_PRESTACIONAL)
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="salarioTotalEstilos">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.INGRESO_PROM_MENSUAL, htmlAttributes: new { @class = "letrasSalarioTotal" })
                        </div>
                        <div class="col-md-6">
                            <span class="E_INGRESO_PROM_MENSUAL valorSalarioTotal">@Math.Round(Model.INGRESO_PROM_MENSUAL,2)</span>
                            <span id="INGRESO_PROM_MENSUAL_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('INGRESO_PROM_MENSUAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                            @Html.HiddenFor(model => model.INGRESO_PROM_MENSUAL, new { @class = "E_INGRESO_PROM_MENSUAL" })
                            @Html.ValidationMessageFor(model => model.INGRESO_PROM_MENSUAL)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row FactorPrestacional">
            <div class="col-md-12 col-sm-12">
                <div class="salarioTotalEstilos">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.INGRESO_PROM_ANUAL, htmlAttributes: new { @class = "letrasSalarioTotal" })
                        </div>
                        <div class="col-md-6">
                            <span class="E_INGRESO_PROM_ANUAL valorSalarioTotal">@Math.Round(Model.INGRESO_PROM_ANUAL,2)</span>
                            <span id="INGRESO_PROM_ANUAL_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('INGRESO_PROM_ANUAL')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                            @Html.HiddenFor(model => model.INGRESO_PROM_ANUAL, new { @class = "E_INGRESO_PROM_ANUAL" })
                            @Html.ValidationMessageFor(model => model.INGRESO_PROM_ANUAL)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.MERCADO, new { @class = "letrasFormulario" })
                @Html.DropDownListFor(model => model.COD_MERCADO, Model.LIST_MERCADO, "-- Seleccione --", new { @class = "form-control col-md-11 deplegablesIniciales letrasFormulario TexboxIncicial" })
                <span id="MERCADO_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('MERCADO')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.COD_MERCADO)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA, new { @class = "letrasFormulario" })
                @Html.DropDownListFor(model => model.COD_CATEGORIA, Model.LIST_NOMBRE_CATEGORIA, "-- Seleccione --", new { @class = "form-control col-md-11 deplegablesIniciales letrasFormulario TexboxIncicial" })
                <span id="CATEGORIA_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('CATRGORIA')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                @Html.ValidationMessageFor(model => model.COD_CATEGORIA)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 col-sm-12">


                <div class="row">
                    <div class="form-group col-md-12 col-sm-12 porcentajeSalarial">
                        <div class="salarioTotalEstilos">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_80, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                            <span class="valorSalarioTotal col-md-6">@Model.PUNTO_MEDIO_80</span>
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_80)
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_80)
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 porcentajeSalarial">
                        <div class="salarioTotalEstilos">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_100, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                            <span class="valorSalarioTotal col-md-6">@Model.PUNTO_MEDIO_100</span>
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_100)
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_100)
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 porcentajeSalarial">
                        <div class="salarioTotalEstilos">
                            @Html.LabelFor(model => model.PUNTO_MEDIO_120, htmlAttributes: new { @class = "letrasSalarioTotal col-md-6", @style = "text-align:left;" })
                            <span class="valorSalarioTotal col-md-6">@Model.PUNTO_MEDIO_120</span>
                            @Html.HiddenFor(model => model.PUNTO_MEDIO_120)
                            @Html.ValidationMessageFor(model => model.PUNTO_MEDIO_120)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separadorPuntosMedio"></div>
        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                <div class="salarioTotalEstilos">
                    <div class="row justify-content-between">
                        @Html.LabelFor(model => model.POSICIONAMIENTO, htmlAttributes: new { @class = "letrasSalarioTotal col-6" })
                        <span class="valorSalarioTotal col-6">@Model.POSICIONAMIENTO</span>
                        <span id="POSICIONAMIENTO_S" class="btn_traza trazaCentrar span-modify-hidden" onclick="ConsultaTraza('POSICIONAMIENTO')" data-toggle="tooltip" data-placement="top" title="Ver detalles" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                        @Html.HiddenFor(model => model.POSICIONAMIENTO)
                        @Html.ValidationMessageFor(model => model.POSICIONAMIENTO)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/CALCULOS_SALARIOS.js"></script>
<style>
    .trazaCentrar {
        position:absolute !important;
        top:32px !important;
    }
</style>
<script>
    var cantInfoSalarial = 19;

    var validateInfoSalarialPresu = true;
    var validateFormInfoSalarialPresu = function () {
        if ($('#SALARIO_FIJO').val() == "" &&
            $('#SALARIO_VARIABLE').val() == "" || !isNaN($('#SALARIO_VARIABLE').val()) ||
            $('#SOBREREMUNERACION').val() == "" ||
            $('#PORCENTAJE_SOBREREMUNERACION').val() == "" || !isNaN($('#PORCENTAJE_SOBREREMUNERACION').val()) ||
            $('#EXTRA_FIJA').val() == "" ||
            $('#RECARGO_NOCTURNO').val() == "" ||
            $('#MEDIO_TRANSPORTE').val() == "" ||
            $('#NUMERO_SALARIOS').val() == "" ||
            $('#MESES_GARANTIZADOS').val() == "" ||
            $('#COD_TIPO_SALARIO').val() == "" &&
            $('#COD_MERCADO').val() == "" &&
            $('#COD_CATEGORIA').val() == "") {
            validateInfoSalarialPresu = false;
        } else {
            validateInfoSalarialPresu = true;
        }
        console.log('validateInfoSalarialPresu ', validateInfoSalarialPresu);
        return validateInfoSalarialPresu;
    }

    $("#collapseInfoSalarialPresu").on("hide.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialPresu").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseInfoSalarialPresu").on("show.bs.collapse", function () {
        $(".div-span-collapseInfoSalarialPresu").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });

    setTimeout(function () {
        if (cantInfoSalarial < $('#collapseInfoSalarialPresu span.span-modify-hidden').length) {
            $('.span_infoSalarial').css("visibility", "visible");
        }
    }, 550);
</script>