@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}
<section id="infoGeneral">
    <div class="panel-heading">
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoGeneralPropLic">
            <h2>Información General</h2>
        </a>
    </div>
    <div id="collapseInfoGeneralPropLic" class="panel-collapse collapse">
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_CONTRATO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(model => model.COD_TIPO_CONTRATO, Model.LIST_NOMBRE_TIPO_CONTRATO, "-- Seleccione --", new { @class = "form-control" })
                @*@Html.HiddenFor(model => model.COD_TIPO_CONTRATO)*@
                @Html.ValidationMessageFor(model => model.COD_TIPO_CONTRATO)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.JEFE_INMEDIATO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.TextBoxFor(model => model.JEFE_INMEDIATO, new { @class = "form-control" })
                @*@Html.HiddenFor(model => model.JEFE_INMEDIATO)*@
                @Html.ValidationMessageFor(model => model.JEFE_INMEDIATO)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                @Html.LabelFor(model => model.LIST_NIVEL_RIESGO_ARL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(model => model.COD_NIVEL_RIESGO_ARL, Model.LIST_NIVEL_RIESGO_ARL, "-- Seleccione --", new { @class = "form-control" })
                <span class="btn_traza trazaCentrar" onclick="ConsultaTraza('NOMBRE_ARL')">  <i class="fa fa-check btn_centar"></i></span>
                @*@Html.HiddenFor(model => model.COD_NIVEL_RIESGO_ARL)*@
                @Html.ValidationMessageFor(model => model.COD_NIVEL_RIESGO_ARL)
            </div>
        </div>
    </div>
</section>

<style>
    .trazaCentrar {
        position: absolute !important;
        top: 32px !important;
    }
</style>