@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@using UTILS.Settings
@{
    string deshabilitar = "true";
    List<SelectListItem>
    _BUSCAR_NOMBRE_CECO = Model.LIST_NOMBRE_CECO;
}
<section id="infoGeneral">
    <div class="panel-heading row">
        <div class="span-icon-arrow div-span-collapseInfoGeneralIncap">
            <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
        </div>
        @if (User.IsInRole(SettingsManager.PerfilJefe) || User.IsInRole(SettingsManager.PerfilController))
        {
        <a class="a-collapse">
            <h2>Información General Empleado</h2>
        </a>
        }
        else
        {
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoGeneralIncap">
            <h2>Información General Empleado</h2>
        </a>
        }
        <span class="span_infoGeneralLi span-alert-modify" style="visibility:hidden" data-toggle="tooltip" title="Modificada">
            <i class="fas fa-exclamation-circle" style="color:darkorange"></i>
        </span>
    </div>
        <div id="collapseInfoGeneralIncap" class="panel-collapse collapse">
            <div class="row">

                @if (User.IsInRole(SettingsManager.PerfilJefe))
                {
                    <div class="form-group col-md-12 col-xs-12">
                        @Html.LabelFor(model => model.NOMBRE_CARGO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                        @Html.DropDownListFor(model => model.COD_CARGO, Model.LIST_NOMBRE_CARGO, "Seleccione", new { @class = "form-control combosGrandes letrasFormulario" })
                        @Html.ValidationMessageFor(model => model.COD_CARGO, "", new { @class = "text-danger" })
                    </div>

                }
                else
                {

                    <div class="form-group col-md-12 col-xs-12">
                        @Html.LabelFor(model => model.NOMBRE_CARGO, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                        @Html.DropDownListFor(model => model.COD_CARGO, Model.LIST_NOMBRE_CARGO, "Seleccione", new { @class = "form-control combosGrandes letrasFormulario", disabled = deshabilitar })
                        @Html.ValidationMessageFor(model => model.COD_CARGO, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.COD_CARGO)                        
                    </div>
                }
                <div class="form-group col-md-12 col-xs-12">
                    @Html.LabelFor(model => model.LIST_NOMBRE_GERENCIA, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                    @Html.DropDownListFor(model => model.COD_GERENCIA, Model.LIST_NOMBRE_GERENCIA, "Seleccione ", new { @class = "form-control combosGrandes letrasFormulario", disabled = deshabilitar })
                    @Html.HiddenFor(model => model.COD_GERENCIA, new { @Id = "hdCOD_GERENCIA" })
                    @Html.ValidationMessageFor(model => model.LIST_NOMBRE_GERENCIA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                @if (User.IsInRole(SettingsManager.PerfilJefe))
                {
                <div class="form-group col-md-12 col-xs-12 buscadorC">
                    @Html.LabelFor(model => model.COD_CECO, new { @class = "control-label col-md-12 letrasFormulario" })
                    <br />
                    @if (Model.NOMBRE_CECO == null && Model.COD_CECO == 0)
                    {
                        @Html.TextBoxFor(model => model.NOMBRE_CECO, new { @class = "buscador_ceco_gene form-control letrasFormulario", placeholder = "Nombre CECO", onkeyup = "buscarFiltro(this.value)", autocomplete = "off" , disabled = deshabilitar })
                        @Html.HiddenFor(model => model.COD_CECO)
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.NOMBRE_CECO, new { @class = "buscador_ceco_gene form-control letrasFormulario", placeholder = "Nombre CECO", onkeyup = "buscarFiltro(this.value)", autocomplete = "off" , disabled = deshabilitar })
                        @Html.HiddenFor(model => model.COD_CECO)
                    }
                    <br>
                    <ul class="list-group buscador_modificaciones_deplegable_esconder" id="myListCeco" style="margin-bottom: 0px !important">
                        @foreach (SelectListItem item in _BUSCAR_NOMBRE_CECO)
                        {
                            <li class="list-group-item item_lista_modificar letrasFormulario" onclick="AgarrarValorFiltroCeco('@item.Text','@item.Value')">@item.Text</li>
                        }
                    </ul>
                    @Html.ValidationMessageFor(model => model.NOMBRE_CECO, "", new { @class = "text-danger", id = "span-message" })
                </div>
            }
            else
            {
                <div class="form-group col-md-12 col-sm-12">
                    @Html.LabelFor(model => model.COD_CECO, new { @class = "letrasFormulario" })
                    @Html.DropDownListFor(model => model.COD_CECO, new SelectList(Model.LIST_NOMBRE_CECO, "Value", "Text", Model.COD_CECO), "-- Seleccione --", new { @class = "form-control combosGrandes letrasFormulario", disabled = deshabilitar })
                    @Html.HiddenFor(model => model.COD_CECO)
                    @Html.ValidationMessageFor(model => model.COD_CECO)
                </div>
                }
                <div class="form-group col-md-12 col-xs-12 ">
                    @Html.LabelFor(model => model.LIST_NOMBRE_SOCIEDAD, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                    @Html.DropDownListFor(model => model.COD_SOCIEDAD, Model.LIST_NOMBRE_SOCIEDAD, "Selecione ", new { @class = "form-control combosGrandes letrasFormulario", disabled = deshabilitar })
                    @Html.HiddenFor(model => model.COD_SOCIEDAD, new { @Id = "hdCOD_SOCIEDAD" })
                    @Html.ValidationMessageFor(model => model.COD_SOCIEDAD, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12 col-xs-12 ">
                    @Html.LabelFor(model => model.LIST_NOMBRE_EQIPO_VENTAS, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                    @Html.DropDownListFor(model => model.COD_EQUIPO_VENTAS, Model.LIST_NOMBRE_EQIPO_VENTAS, "Seleccione ", new { @class = "form-control combosGrandes letrasFormulario", disabled = deshabilitar })
                    @Html.HiddenFor(model => model.COD_EQUIPO_VENTAS, new { @Id = "hdCOD_EQUIPO_VENTAS" })
                    @Html.ValidationMessageFor(model => model.COD_EQUIPO_VENTAS, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-12 col-xs-12 ">
                    @Html.LabelFor(model => model.LIST_NOMBRE_CATEGORIA_ED, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                    <div class="col-md-3" style="padding-left:0px">
                        @Html.DropDownListFor(model => model.COD_CATEGORIA_ED, Model.LIST_NOMBRE_CATEGORIA_ED, "Seleccione ", new { @class = "form-control col-md-11 combosGrandes letrasFormulario no-width", disabled = deshabilitar })
                        <span id="NOMBRE_CATEGORIA_ED_S" class="btn_traza span-modify-hidden" onclick="ConsultaTraza('NOMBRE_CATEGORIA_ED')" data-toggle="tooltip" data-placement="top" style="visibility:hidden">  <img src="../assets/img/Modificado.png" class="imgModificar"></span>
                        @Html.HiddenFor(model => model.COD_CATEGORIA_ED, new { @Id = "hdCOD_CATEGORIA_ED" })
                        @Html.ValidationMessageFor(model => model.COD_CATEGORIA_ED, "", new { @class = "text-danger" })
                    </div>
                    
                    
                    @Html.HiddenFor(model => model.JEFE_INMEDIATO, new { @Id = "hdJEFE_INMEDIATO" })
                    @Html.HiddenFor(model => model.COD_TIPO_SALARIO, new { @Id = "hdCOD_TIPO_SALARIO" })
                    @Html.HiddenFor(model => model.NOMBRE_TIPO_SALARIO, new { @Id = "hdNOMBRE_TIPO_SALARIO" })
                    @Html.HiddenFor(model => model.COD_NIVEL_RIESGO_ARL, new { @Id = "hdCOD_NIVEL_RIESGO_ARL" })
                    @Html.HiddenFor(model => model.NIVEL_RIESGO_ARL, new { @Id = "hdNIVEL_RIESGO_ARL" })
                </div>
            </div>
            <div class="row">

                @if (User.IsInRole(SettingsManager.PerfilJefe))
                {
                <div class="form-group col-md-12 col-xs-12 ">

                    @Html.LabelFor(model => model.CARGO_CRITICO, htmlAttributes: new { @class = "letrasFormulario" })

                    @if (Model.COD_ESTADO_REQUISICION == SettingsManager.EstadoDevueltaController)
                    {
                    if (Model.CARGO_CRITICO == true)
                    {
                        <spam class="CheckboxPadding">
                            <input type="checkbox" checked="checked" disabled="disabled" />
                            <label class="letrasFormulario" for="radio1">Si</label>
                        </spam>
                        <spam class="CheckboxPadding">
                            <input type="checkbox" disabled="disabled" />
                            <label class="letrasFormulario" for="radio2">No</label>
                        </spam>
                    }
                    else if (Model.CARGO_CRITICO == false)
                    {
                        <spam class="CheckboxPadding">
                            <input type="checkbox" disabled="disabled" />
                            <label class="letrasFormulario" for="radio1">Si</label>
                        </spam>
                        <spam class="CheckboxPadding">
                            <input type="checkbox" checked="checked" disabled="disabled" />
                            <label class="letrasFormulario" for="radio2">No</label>
                        </spam>
                    }
                    }
                    else
                    {
                        <spam class="CheckboxPadding">
                        <input type="checkbox" class="checkboxSI" disabled="disabled" />
                        <label class="letrasFormulario" for="radio1">Si</label>
                    </spam>
                    <spam class="CheckboxPadding">
                        <input type="checkbox" class="checkboxNO" disabled="disabled" />
                        <label class="letrasFormulario" for="radio2">No</label>
                    </spam>


                    }

                </div>

                }
                else
                {
                    <div class="form-group col-md-12 col-xs-12">
                        @Html.LabelFor(model => model.CARGO_CRITICO, htmlAttributes: new { @class = "letrasFormulario" })
                        @if (Model.CARGO_CRITICO == true)
                        {
                            <spam class="CheckboxPadding">
                                <input type="checkbox" checked="checked" disabled="disabled" />
                                <label class="letrasFormulario" for="radio1">Si</label>
                            </spam>
                            <spam class="CheckboxPadding">
                                <input type="checkbox" disabled="disabled" />
                                <label class="letrasFormulario" for="radio2">No</label>
                            </spam>
                        }
                        else
                        {
                            <spam class="CheckboxPadding">
                                <input type="checkbox" disabled="disabled" />
                                <label class="letrasFormulario" for="radio1">Si</label>
                            </spam>
                            <spam class="CheckboxPadding">
                                <input type="checkbox" checked="checked" disabled="disabled" />
                                <label class="letrasFormulario" for="radio2">No</label>
                            </spam>
                        }
                    </div>
                }

                @Html.HiddenFor(model => model.CARGO_CRITICO)

                <div class="form-group col-md-12 col-xs-12 ">
                    @Html.LabelFor(model => model.POSICION, htmlAttributes: new { @class = "control-label col-md-12 letrasFormulario" })
                    @Html.EditorFor(model => model.POSICION, new { htmlAttributes = new { @class = "form-control combosGrandes letrasFormulario", disabled = deshabilitar } })
                    @Html.HiddenFor(model => model.POSICION, new { @Id = "hdPOSICION" })
                    @Html.ValidationMessageFor(model => model.POSICION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </section>
<script>
    var cantInfoGeneralLi = 1;
        var validateInfoIncap = true;
        var validateFormInfoGeneralIncap = function () {
            if ($('#NOMBRE_CECO').val() == "" &&
                $('#POSICION').val() == "") {
                validateInfoIncap = false;
            } else {
                validateInfoIncap = true;
            }
            console.log('validateInfoIncap ', validateInfoIncap);
            return validateInfoIncap;
        }

        function buscarFiltro(value) {
            //var value = $("#input_ceco").val().toLowerCase();
            $("#myListCeco li").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value.toLowerCase()) > -1)
            });
        }

        function AgarrarValorFiltroCeco(texto, valor) {
            $("#span-message").html("");
            $("#span-message").removeClass("field-validation-error").addClass("field-validation-valid");
            $("#NOMBRE_CECO").val(texto);
            $("#COD_CECO").val(valor);
            $("#myListCeco").removeClass("buscador_modificaciones_deplegable").addClass("buscador_modificaciones_deplegable_esconder");
        }

        $(".buscadorC").focusin(function () {
            $("#span-message").html("");
            $("#myListCeco").removeClass("buscador_modificaciones_deplegable_esconder").addClass("buscador_modificaciones_deplegable");
        });

    $("#collapseInfoGeneralIncap").on("hide.bs.collapse", function () {
        $(".div-span-collapseInfoGeneralIncap").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseInfoGeneralIncap").on("show.bs.collapse", function () {
        $(".div-span-collapseInfoGeneralIncap").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });

    var perfilJefe = "@User.IsInRole(SettingsManager.PerfilJefe).ToString()";
    var perfilController = "@User.IsInRole(SettingsManager.PerfilController).ToString()";
    if (perfilJefe.toString() == "True" || perfilController.toString() == "True")
    {
        $("#collapseInfoGeneralIncap").addClass('show');
    }

    setTimeout(function () {
        console.log('sali');
        if ($('#collapseInfoGeneralIncap span.span-modify-hidden').length < cantInfoGeneralLi) {
            $('.span_infoGeneralLi').css("visibility", "visible");
        }
    }, 650);
</script>
