@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{string deshabilitar = "true";}
<section id="infoGeneral">
    <div class="panel-heading row">
        <div class="span-icon-arrow div-span-collapseInfoGeneralPropLic">
            <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
        </div>
        <a class="a-collapse" data-toggle="collapse" href="#collapseInfoGeneralPropLic">
            <h2>Tipo de Contrato</h2>
        </a>
    </div>
    <div id="collapseInfoGeneralPropLic" class="panel-collapse collapse">
        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.LIST_NOMBRE_TIPO_CONTRATO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(model => model.COD_TIPO_CONTRATO, Model.LIST_NOMBRE_TIPO_CONTRATO, "-- Seleccione --", new { @class = "form-control TexboxIncicial letrasFormulario" })
                @*@Html.HiddenFor(model => model.COD_TIPO_CONTRATO)*@
                @Html.ValidationMessageFor(model => model.COD_TIPO_CONTRATO)
            </div>
            <div class="form-group col-md-6 col-sm-12">
                @Html.LabelFor(model => model.JEFE_INMEDIATO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.TextBoxFor(model => model.JEFE_INMEDIATO, new { @class = "form-control TexboxIncicial letrasFormulario" })
                @*@Html.HiddenFor(model => model.JEFE_INMEDIATO)*@
                @Html.ValidationMessageFor(model => model.JEFE_INMEDIATO)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                @Html.LabelFor(model => model.LIST_NIVEL_RIESGO_ARL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.DropDownListFor(model => model.COD_NIVEL_RIESGO_ARL, Model.LIST_NIVEL_RIESGO_ARL, "-- Seleccione --", new { @class = "form-control TexboxIncicial letrasFormulario" })
                <span class="btn_traza trazaCentrar" onclick="ConsultaTraza('NOMBRE_ARL')">  <i class="fa fa-check btn_centar"></i></span>
                @*@Html.HiddenFor(model => model.COD_NIVEL_RIESGO_ARL)*@
                @Html.ValidationMessageFor(model => model.COD_NIVEL_RIESGO_ARL)
            </div>
        </div>
    </div>
</section>

<style>
    .trazaCentrar {
        position: absolute !important;
        top: 32px !important;
    }
</style>
<script>
    var validateTipoContrato = true;
    var validateFormTipoContrato = function () {
        if ($('#COD_TIPO_CONTRATO').val() == "" &&
            $('#JEFE_INMEDIATO').val() == "" &&
            $('#COD_NIVEL_RIESGO_ARL').val() == "") {
            validateTipoContrato = false;
        } else {
            validateTipoContrato = true;
        }
        console.log('validateTipoContrato ', validateTipoContrato);
        return validateTipoContrato;
    }

    $("#collapseInfoGeneralPropLic").on("hide.bs.collapse", function () {
        $(".div-span-collapseInfoGeneralPropLic").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseInfoGeneralPropLic").on("show.bs.collapse", function () {
        $(".div-span-collapseInfoGeneralPropLic").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });
</script>