@using UTILS.Settings
@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
<section id="autorizacion">
    <div class="panel-heading row">
        @if (User.IsInRole(SettingsManager.PerfilJefe) || User.IsInRole(SettingsManager.PerfilController))
        {
            <div class="span-icon-arrow div-span-collapseAutorizacion">
                <span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>
            </div>
        }
        else
        {
            <div class="span-icon-arrow div-span-collapseAutorizacion">
                <span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>
            </div>
        }
        <a class="a-collapse" data-toggle="collapse" href="#collapseAutorizacion">
            <h2>Autorización</h2>
        </a>
    </div>
    <div id="collapseAutorizacion" class="panel-collapse collapse">
        <div class="row">
            <div class="form-group col-md-12 col-sm-12">
                @Html.LabelFor(model => model.OBSERVACIONES, new { @class = "letrasFormulario" })
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="letrasFormulario">
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody class="Obsevaciones_requisicion">
                            @Html.Raw(Model.OBSERVACIONES)
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="form-group col-md-12 col-sm-12">
                @Html.LabelFor(model => model.OBSERVACION, htmlAttributes: new { @class = "letrasFormulario" })
                @Html.TextAreaFor(model => model.OBSERVACION, new { @class = "form-control control_grande" })
                @Html.ValidationMessageFor(model => model.OBSERVACION)
            </div>
        </div>
    </div>
</section>

<script>
    var validateAut = true;
    var validateFormAutorizacion = function () {
        if ($('#OBSERVACION').val() == "") {
            validateAut = false;
        } else {
            validateAut = true;
        }
        console.log('validateAut ', validateAut);
        return validateAut;
    }

    var perfilJefe = "@User.IsInRole(SettingsManager.PerfilJefe).ToString()";
    var perfilController = "@User.IsInRole(SettingsManager.PerfilController).ToString()";
    if (perfilJefe.toString() == "True" || perfilController.toString() == "True")
    {
        $("#collapseAutorizacion").addClass('show');
    }

    $("#collapseAutorizacion").on("hide.bs.collapse", function () {
        $(".div-span-collapseAutorizacion").html('<span class="span-collapse"><i class="fas fa-chevron-down arrow-collapse"></i></span>');
    });
    $("#collapseAutorizacion").on("show.bs.collapse", function () {
        $(".div-span-collapseAutorizacion").html('<span class="span-collapse"><i class="fas fa-chevron-up arrow-collapse"></i></span>');
    });
</script>
