@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="http://www.x-non.com/json/jquery.json-2.4.min.js"></script>
<div class="col-md-9">
    <table class="table">
        <tr>
            <td>
                <h2>Crear Requisición</h2>
            </td>

        </tr>
    </table>
    <table>
        <tr>
            <td>
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Bridge-Copyrighted-icon.png" />
            </td>
            <td>
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Dreamweaver-Copyrighted-icon.png" />
            </td>
            <td>
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Fireworks-Copyrighted-icon.png" />
            </td>
            <td>
                <img src="http://icons.iconarchive.com/icons/icons8/ios7/128/Logos-Adobe-Flash-Copyrighted-icon.png" />
            </td>
        </tr>
    </table>
    <br />

    <form id="CNform">



        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="lblTipoNecesidad"> @Html.LabelFor(model => model.NOMBRE_TIPO_NECESIDAD, new { htmlAttributes = new { @class = "form-control" } }):</label>
                @* @Html.DropDownListFor(model => model.NOMBRE_TIPO_NECESIDAD, null, new { htmlAttributes = new { @class = "form-control" } })*@
                <div class="form-group">
                    @Html.DropDownListFor(model => model.COD_TIPO_NECESIDAD, (IEnumerable<SelectListItem>)ViewBag.Necesidad, "-- Seleccione --", new { @class = "form-control" })

                </div>

            </div>

            <div class="form-group col-md-6">
                <label for="lblCargo"> @Html.LabelFor(model => model.NOMBRE_CARGO, new { htmlAttributes = new { @class = "form-control" } }):</label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.COD_CARGO, (IEnumerable<SelectListItem>)ViewBag.Necesidad, "-- Seleccione --", new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-row" id="pnlPresupuestada">
            <div class="form-group col-md-6">
                <label for="lblOrden"> @Html.LabelFor(model => model.ORDEN, new { htmlAttributes = new { @class = "form-control" } }):</label>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.ORDEN, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ORDEN)
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="lblCeCo"> @Html.LabelFor(model => model.NOMBRE_CECO, new { htmlAttributes = new { @class = "form-control" } }):</label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.COD_CECO, (IEnumerable<SelectListItem>)ViewBag.Necesidad, "-- Seleccione --", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="lblObservacionCreacion"> @Html.LabelFor(model => model.OBSERVACION_CREACION, new { htmlAttributes = new { @class = "form-control" } }):</label>
            <div class="form-group">
                @Html.TextAreaFor(model => model.OBSERVACION_CREACION, new { @class = "form-control" })
            </div>
        </div>



        <div>
            <label for="lblCeCo">@Html.LabelFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control" } }):</label>
            @Html.CheckBoxFor(model => model.ES_MODIFICACION, new { htmlAttributes = new { @class = "form-control" } })
            <span></span>
        </div>

        <div>
            @*@Html.ActionLink("Cancelar Requisición", "Index")*@
            <input type="button" value="Cancelar Requisición" class="btn-cancelar-retriro" onclick="cancelar()" />
            <input type="button" value="Crear Requisición" class="btn-confirmar-retiro" onclick="ValidarModificacion()" />

        </div>


        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Requisición Creada Con éxito</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="EnviarInfocreacion()">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <br />
                        <h2>se creó la requisición para el cargo de  <span id="mensaje1"></span> con ID <span id="mensaje2"></span></h2>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="ModalCancel" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Está a punto de cancelar la requisición</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <br />
                        <h4>¿Está Seguro de Cancelarla?</h4>

                        <button type="button" class="btn-cancelar-retriro" data-dismiss="modal" aria-label="Aceptar" onclick="NoCancelar()">
                            No

                        </button>
                        <button type="button" class="btn-confirmar-retiro" data-dismiss="modal" aria-label="Cancelar" onclick="SiCancelar()">
                            Si

                        </button>
                    </div>
                </div>
            </div>
        </div>






    </form>

</div>

    <script type="text/javascript">
        @ViewBag.scripCall
        $(document).ready(function () {
            var variable1 = '@Session["requisicion"]';
            if (variable1 == 1) {
                $("#pnlPresupuestada").show();
            }
            else {
                $("#pnlPresupuestada").hide();
            }
        });

        function ValidarModificacion() {
            //$("#CNform").submit();
            var check = document.getElementById('ES_MODIFICACION').checked;
            if (check) {
                //window.location.href = '@Url.Action("Modificacion", "REQUISICION")';
                Modificacion();

            }
            else {
                var tipoReq = '@Session["requisicion"]';
                if (tipoReq == 1) {
                    if (document.getElementById('COD_TIPO_NECESIDAD').value != "" && document.getElementById('COD_CARGO').value != ""
                        && document.getElementById('ORDEN').value != "" && document.getElementById('COD_CECO').value != ""
                        && document.getElementById('OBSERVACION_CREACION').value != ""
                    ) {
                        var cargo = document.getElementById("COD_CARGO");
                        var selectedText = cargo.options[cargo.selectedIndex].text;
                        var selectedValue = cargo.options[cargo.selectedIndex].value;
                        $("#mensaje1").text(selectedText);
                        $("#mensaje2").text(selectedValue);
                        $('#Modal').modal('show');
                    }
                    else {
                        //$("#COD_TIPO_NECESIDAD").checkValidity();
                    }
                }
                else if (tipoReq == 2) {
                    if (document.getElementById('COD_TIPO_NECESIDAD').value != "" && document.getElementById('COD_CARGO').value != ""
                        && document.getElementById('OBSERVACION_CREACION').value != ""
                    ) {
                        var cargo = document.getElementById("COD_CARGO");
                        var selectedText = cargo.options[cargo.selectedIndex].text;
                        var selectedValue = cargo.options[cargo.selectedIndex].value;
                        $("#mensaje1").text(selectedText);
                        $("#mensaje2").text(selectedValue);
                        $('#Modal').modal('show');
                    }
                    else {
                    }
                }
            }
        };



        function cancelar() {
            $('#ModalCancel').modal('show');
        };

        function SiCancelar() {
            $('#ModalCancel').modal('hide');
            window.location.href = '@Url.Action("Index", "REQUISICION")';
        };
        function NoCancelar() {
            $('#ModalCancel').modal('hide');
        };


        function EnviarInfocreacion() {
            var $form = $("#CNform");
            var model = JSON.stringify(getFormData($form), null, 2);

            $.ajax({
                type: "POST",
                url: '@Url.Action("EnviarInfocreacion", "REQUISICION")',
                contentType: "application/json; charset=utf-8",
                data: model,
                dataType: "json",
                success: function () { window.location.href = '@Url.Action("Index", "REQUISICION")'; }
            });
        };

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }


        function Modificacion() {
            var $form = $("#CNform");
            var model = JSON.stringify(getFormData($form), null, 2);

            $.ajax({
                type: "POST",
                url: '@Url.Action("EnviarModificacion", "REQUISICION")',
                contentType: "application/json; charset=utf-8",
                data: model,
                dataType: "json",
                success: function () { window.location.href = '@Url.Action("Modificacion", "REQUISICION")'; }
            });
        };


    </script>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }

