@model IEnumerable<MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel>
@using UTILS.Settings
@using G_H_WEB.Models;
@{
    /**/

    //ViewBag.Title = "retiros_buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 col-lg-9 col-xl-9 requisicion no-padding-right">

    <div class="col-lg-12 col-md-12 col-sm-12 row">
        <h2 class="titulo-retiros col-md-12">Requisiciones</h2>
        @if (User.IsInRole(SettingsManager.PerfilJefe))
        {
            <div class="margenbottton col-lg-12 col-md-12 col-sm-12">
                <div class="col-md-12">
                    <a href="" data-toggle="modal" data-target="#Modal" style="font-family:'source-medium'; font-size:14px; font-weight:bold">+ CREAR NUEVA REQUISICIÓN</a>
                </div>
            </div>
        }
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="buscador" style="width:750px;">
                <input class="search-input" id="filtroPorUsuarioValor" type="text" placeholder=" Nombre o cédula" style="width:100%; height:  100%;">
                <span id="filtroPorUsuario" class="search-btn fas fa-search"></span>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 row">

        <div class="form-group col-md-4">
            <label class="label">Filtre Por Tipo</label>
            @Html.DropDownList("ddlTipo", new SelectList(ViewBag.Tipo, "Value", "Text"), "Seleccione ", new { @class = "form-control combo", @style = "height: 48px;", @id = "filtroTipo" })

        </div>


        <div class="form-group col-md-4">
            <label>Filtre Por Fecha</label>

            <div class="input-group date datepicker-requisicion">
                <input type="text" id="txtFiltroFecha" class="form-control datepicker" />
                <span class="input-group-addon">
                    <span class="fas fa-calendar-alt" style="pointer-events:none">
                    </span>
                </span>
            </div>
        </div>


        <div class="form-group col-md-4">
            <label class="label">Filtre Por Estado</label>
            @Html.DropDownList("ddlEstado", new SelectList(ViewBag.Estado, "Value", "Text", ViewBag.valorSeleccionado), "Seleccione  ", new { @class = "form-control", @style = "height: 48px;", id = "filtroEstados" })
        </div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 row">
        <div class="table-responsive">


            <table class="table tabla-requisicion" id="tblRequisiciones">

                <thead>
                    <tr style="height:62px;">

                        <th>
                            @Html.DisplayNameFor(model => model.USUARIO_CREACION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NOMBRE_CARGO)
                        </th>
                        <th>
                            Empleado
                        </th>

                        <th>
                            Tipo
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.FECHA_CREACION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NOMBRE_ESTADO_REQUISICION)
                        </th>
                    </tr>
                </thead>

                <tbody id="tblBody">
                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td class="td-nombre">
                                    @if (!User.IsInRole(SettingsManager.PerfilJefe) && !User.IsInRole(SettingsManager.PerfilBp))
                                    {
                                        <a class="alineas" href="@Url.Action("Detalle", "REQUISICION", new { _idRequisicion = item.COD_REQUISICION, _tipoRequisicion = item.COD_TIPO_REQUISICION })">
                                            @Html.DisplayFor(modelItem => item.NOMBRES_USUARIO)
                                            <span class="td-usuario">
                                                @Html.DisplayFor(modelItem => item.USUARIO_CREACION)
                                            </span>
                                            <span class="td-usuario">@Html.DisplayFor(mItem => item.EMAIL_USUARIO_CREACION)</span>
                                        </a>
                                    }
                                    else if (User.IsInRole(SettingsManager.PerfilBp))
                                    {
                                        if (item.COD_ESTADO_REQUISICION == SettingsManager.EstadoAporbadoController || item.COD_ESTADO_REQUISICION == SettingsManager.EstadoDevueltaRRHH || item.COD_ESTADO_REQUISICION == SettingsManager.EstadoDevueltaUSC || item.COD_ESTADO_REQUISICION == SettingsManager.EstadoAprobadoJefe)
                                        {
                                            <a class="alineas" href="@Url.Action("Detalle", "REQUISICION", new { _idRequisicion = item.COD_REQUISICION, _tipoRequisicion = item.COD_TIPO_REQUISICION })">
                                                @Html.DisplayFor(modelItem => item.NOMBRES_USUARIO)
                                                <span class="td-usuario">
                                                    @Html.DisplayFor(modelItem => item.USUARIO_CREACION)
                                                </span>
                                                <span class="td-usuario">@Html.DisplayFor(mItem => item.EMAIL_USUARIO_CREACION)</span>
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.NOMBRES_USUARIO)
                                            <span class="td-usuario">
                                                @Html.DisplayFor(modelItem => item.USUARIO_CREACION)
                                            </span>
                                            <span class="td-usuario">@Html.DisplayFor(mItem => item.EMAIL_USUARIO_CREACION)</span>
                                        }
                                    }
                                    else
                                    {
                                        if (item.COD_ESTADO_REQUISICION == SettingsManager.EstadoDevueltaController)
                                        {
                                            <a class="alineas" href="@Url.Action("Detalle", "REQUISICION", new { _idRequisicion = item.COD_REQUISICION, _tipoRequisicion = item.COD_TIPO_REQUISICION })">
                                                @Html.DisplayFor(modelItem => item.NOMBRES_USUARIO)
                                                <span class="td-usuario">
                                                    @Html.DisplayFor(modelItem => item.USUARIO_CREACION)
                                                </span>
                                                <span class="td-usuario">@Html.DisplayFor(mItem => item.EMAIL_USUARIO_CREACION)</span>
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.NOMBRES_USUARIO)
                                            <span class="td-usuario">
                                                @Html.DisplayFor(modelItem => item.USUARIO_CREACION)
                                            </span>
                                            <span class="td-usuario">@Html.DisplayFor(mItem => item.EMAIL_USUARIO_CREACION)</span>
                                        }
                                    }

                                </td>
                                <td class="td-cargo">
                                    @Html.DisplayFor(modelItem => item.NOMBRE_CARGO)
                                    <span class="td-codCargo">@Html.DisplayFor(mItem => item.COD_CARGO)</span>
                                </td>

                                <td class="td-causal">
                                    @Html.DisplayFor(modelItem => item.NOMBRE_EMPLEADO)
                                    <span class="td-usuario"> @Html.DisplayFor(modelItem => item.NUMERO_DOCUMENTO_EMPLEADO)</span>
                                </td>

                                <td class="td-acciones">

                                    @if (item.ES_MODIFICACION)
                                    {
                                        <label>Modificacion</label>

                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.NOMBRE_TIPO_REQUISICION)
                                    }

                                </td>
                                <td>@Html.DisplayFor(modelItem => item.FECHA_CREACION)</td>
                                <td><font color="@item.COLORES_ESTADOS">@Html.DisplayFor(modelItem => item.NOMBRE_ESTADO_REQUISICION)</font></td>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                    }

                </tbody>

                <tfoot></tfoot>
            </table>
        </div>
    </div>


</div>

@if (ViewBag.Error != null)
{
    <div>
        @Html.Partial("_Error", (ERROR_GENERAL_ViewModel)ViewBag.Error);
    </div>
}
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title Titulo-Popu" id="ModalLabel">Crear Requisición</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="row modal-body Content-Popup">
                <div class="col-md-12 col-lg-12 col-xl-12 Texto-Popup">
                    Seleccione una opción de requisición
                </div>
                @Html.Partial("_SelectRequisicion")
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        ConsultaModificaciones();
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy'
            });
        });

        VALIDACION_TRAZA();
        
        var table = $('#tblRequisiciones').DataTable({
            lengthChange: false,
            //searching: false,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": ">",
                    "previous": "<"
                }
            },
            "columns": [
                { "width": "15%" },
                { "width": "15%" },
                { "width": "15%" },
                { "width": "5%" },
                { "width": "20%" },
                { "width": "5%" }
            ]
        });
        $('.dataTables_filter').css("display", "none");


        $('#filtroPorUsuario').on('click', function () {
            table.column(2).search($('#filtroPorUsuarioValor').val()).draw();
        });


        $('#txtFiltroFecha').change(function () {
            if (table.column(4).search() !== this.value) {
                table
                    .column(4)
                    .search(this.value.split('-').reverse().join('/'))
                    .draw();
            }
            $('.dataTables_empty').css("display", "none");
        });


        $('#filtroTipo').on('change', function () {
            if ($('#filtroTipo option:selected').val() == "") {
                table.column(3).search("").draw();
            }
            else {
                table.column(3).search("^" + $('#filtroTipo option:selected').text() + "$", true, false, true).draw();
            }
        });

        $('#filtroEstados').on('change', function () {
            if ($('#filtroEstados option:selected').val() == "") {
                table.column(5).search("").draw();
            }
            else {
                table.column(5).search($('#filtroEstados option:selected').text()).draw();
            }
        });




    });

    function VALIDACION_TRAZA() {
        var jsonObj = @Html.Raw(Json.Encode(ViewBag.traza));
        if (jsonObj) {
            debugger;
            for (i = 0; i < jsonObj.length; i++) {
                if (jsonObj[i].TRAZA == "true") {
                    var campo = "#" + jsonObj[i].CAMPOS + "_S";
                    if ($(campo).length) {
                        debugger;
                        $(campo).removeAttr("style");
                        var traza = jsonObj[i].TRAZA;
                    }
                }
            }
        }
    }

    function ConsultaModificaciones() {
        $("#notificationsBadgePrimary").text("");
        $("#AddNotificaciones").text("");
            $('body').loading({
                message: 'Cargando...'
            });
            $.ajax({
                url: "@Url.Action("ConsultarModificaciones", "REQUISICION")",
                type: 'POST',
                data: null,
                success: function (respuesta) {
                    $.each(respuesta, function (key, value) {
                        $("#notificationsBadgePrimary").text(value.TOTAL);
                        $("#AddNotificaciones").append('<a class="dropdown-item dropdown-notification" href="#">' +
                                                       '<div class="notification-read"><span class="badge badge-secondary">' + value.CANTIDAD +
                                                       '</span></div><div class="notifications-body"><p class="notification-texte">Tienes ' + value.CANTIDAD +
                                                       ' Requisiciones ' + value.NOMBRE_REQUISICION + ' para tramitar </p></div>' +
                                                       ((key + 1).toString() === value.TOTAL ? '' : '<hr class="hr-requisition"/>') +
                                                       '</a>')
                    });
                    $('body').loading('stop');
                    $('.ModalTraza').modal("show");
                },
                error: function (er){
                    $('body').loading('stop');
                }
            });
        }
</script>
