@model IEnumerable<MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel>


@{
    //ViewBag.Title = "retiros_buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<div class="col-md-9 col-lg-9 col-xl-9 tablaRetiros">

    <div class="col-lg-12 col-md-12 col-sm-12 row">
        <h2 class="titulo-retiros col-md-12">Requisiciones</h2>

        <div class="margenbottton col-lg-12 col-md-12 col-sm-12 row">
            <div class="col-md-4">
                <a href="" data-toggle="modal" data-target="#Modal" style="font-size:small; font-weight:bold">+ CREAR NUEVA REQUISICIÓN</a>
            </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 row">
            <div class="buscador" style="width:100%;">
                <input class="search-input" id="filtroPorUsuarioValor" type="text" placeholder="  Buscar por ID, usuario, nombre o cédula" style="width:100%; height:  100%;">
                <span id="filtroPorUsuario" class="search-btn fas fa-search"></span>
            </div>
        </div>
    </div>





    <div class="col-lg-12 col-md-12 col-sm-12 row">

        <div class="form-group col-md-4">
            <label class="label">Filtre Por tipo</label>
            @Html.DropDownList("ddlTipo", new SelectList(ViewBag.Tipo, "Value", "Text"),"Seleccione ", new { @class = "form-control", @style = "height: 48px;",@id="filtroTipo" })

        </div>


        <div class="form-group col-md-4">
            <label>Filtre Por Fecha</label>
            <input type="date" class="form-control" id="txtFiltroFecha" style="height: 48px;" />

        </div>


        <div class="form-group col-md-4">
            <label class="label">Filtre Por Estado</label>
            @Html.DropDownList("ddlEstado", new SelectList(ViewBag.Estado, "Value", "Text", ViewBag.valorSeleccionado), "Activos ",new { @class = "form-control", @style = "height: 48px;",id="filtroEstados" })
        </div>

    </div>
    <div class="table-wrapper">

        <table class="tabla-retiro table" id="tblRequisiciones">

            <thead>
                <tr style="height:62px;">

                    <th>
                        @Html.DisplayNameFor(model => model.USUARIO_CREACION)&nbsp;<span class="fas fa-sort-down"></span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NOMBRE_CARGO)&nbsp;<span class="fas fa-sort-down"></span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NOMBRE_TIPO_REQUISICION)&nbsp;<span class="fas fa-sort-down"></span>
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FECHA_CREACION)&nbsp;<span class="fas fa-sort-down"></span>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NOMBRE_ESTADO_REQUISICION)&nbsp;<span class="fas fa-sort-down"></span>
                    </th>
                    <th class="d-none">
                        @Html.DisplayNameFor(model => model.COD_REQUISICION)&nbsp;<span class="fas fa-sort-down"></span>
                    </th>
                </tr>
            </thead>

            <tbody id="tblBody">
                @if (Model.Any())
                {
                    foreach (var item in Model)
                    {

                <tr style="height:62px;">


                    <td class="td-nombre-req"><a href="@Url.Action("Detalle", "REQUISICION",new { _idRequisicion = item.COD_REQUISICION, _tipoRequisicion = item.COD_TIPO_REQUISICION })">@Html.DisplayFor(modelItem => item.USUARIO_CREACION) <span class="td-email">@Html.DisplayFor(mItem => item.EMAIL_USUARIO_CREACION)</span></a></td>
                    <td class="td-causal">@Html.DisplayFor(modelItem => item.NOMBRE_CARGO)<span class="td-email">@Html.DisplayFor(mItem => item.COD_CARGO)</span></td>
                    <td class="td-acciones">@Html.DisplayFor(modelItem => item.NOMBRE_TIPO_REQUISICION)</td>
                    <td>@Html.DisplayFor(modelItem => item.FECHA_CREACION)</td>
                    <td>@Html.DisplayFor(modelItem => item.NOMBRE_ESTADO_REQUISICION)</td>
                    <td class="d-none">@Html.DisplayFor(modelItem => item.COD_REQUISICION)</td>
                </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">
                            No existe información
                        </td>


                    </tr>
                }

            </tbody>


        </table>

    </div>
</div>

<div>

</div>



<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Crear Requisición</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Seleccione una opción de Requisición
                <br />
                @Html.Partial("_SelectRequisicion")
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">


    $(document).ready(function () {
      

        var table = $('#tblRequisiciones').DataTable({
            paging: false,
            orderCellsTop: false,
            fixedHeader: false
        });


        $('#txtFiltroFecha').change(function () {
            if (table.column(3).search() !== this.value) {
                table
                    .column(3)
                    .search(this.value.split('-').reverse().join('/'))
                    .draw();
            }
            $('.dataTables_empty').css("display", "none");
        });

        $('#filtroTipo').change(function () {
            var buscar = $('#filtroTipo option:selected').text();
            if (this.selectedIndex == 0) { buscar = ""; }
                if (table.column(2).search() !== this.value) {
                    table
                        .column(2)
                        .search(buscar)
                        .draw();
                }
            $('.dataTables_empty').css("display", "none");
        });



        $('#filtroEstados').change(function () {
            var buscar = $('#filtroEstados option:selected').text();
            var url = '@Url.Action("filtros", "REQUISICION", new { filtro = "valor_filtro" })'; 
            window.location.href = url.replace('valor_filtro', buscar);
        });

        $("#filtroPorUsuario").on("click", function () {
            debugger;
            var buscar = $("#filtroPorUsuarioValor").val();
            var url = '@Url.Action("buscarPorUsuario", "REQUISICION", new { filtro = "valor_filtro" })'; 
            window.location.href = url.replace('valor_filtro', buscar);
        });

        $('.dataTables_filter').css("display", "none");
        $('.dataTables_info').css("display", "none");
        
    });


 

</script>
