@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel
@{
    ViewBag.Title = "Requisición No Presupuestada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 col-lg-9 col-xl-9 tablaRetiros">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("No_Presupuestada", "REQUISICION", FormMethod.Post, new { id = "frmNoPresupuestada", @class = "col-md-12 row" }))
    {



        @*@if (Session["UseRol"] == "Jefe") {*@
        @Html.Partial("No_Presupuestada_General", Model)
        @*}*@

   
        @Html.Partial("_PartialPresupuestadaJefe", Model)

        <div class="form-group row col-md-12">
        <div class="col-md-4">
            <input type="button" value="Rechazar" class="btn-cancelar-retriro" style="margin-right: 20%;" />
        </div>
        <div class="col-md-4">Z
            <input type="button" value="Aprobar" onclick="aprobarClick()" class="btn btn-confirmar" style="margin-right: 20%;" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Modificar" class="btn btn-modificar" />
        </div>
    </div>

    }
</div>


<script>

    //Método que envia el formulario al controlador para almacenarlo
    function aprobarClick() {
        debugger;
        var $form = $("#frmNoPresupuestada");
        var model = JSON.stringify(getFormData($form), null, 2);
        console.log('model', JSON.parse(model));
        $.ajax({
            type: "POST",
            url: '@Url.Action("Aprobar_Click", "REQUISICION")',
            contentType: "application/json; charset=utf-8",
            data: model,
            dataType: "json",
            success: function () { window.location.href = '@Url.Action("Index", "REQUISICION")'; }
        });
    };

    //Método que envia el formulario al controlador para rechazar la requisicion
    function rechazarClick() {
        var $form = $("#frmNoPresupuestada");
        var model = JSON.stringify(getFormData($form), null, 2);
        console.log('model', JSON.parse(model));
        $.ajax({
            type: "POST",
            url: '@Url.Action("Rechazar_Click", "REQUISICION")',
            contentType: "application/json; charset=utf-8",
            data: model,
            dataType: "json",
            success: function () { window.location.href = '@Url.Action("Index", "REQUISICION")'; }
        });
    };

    //Método que envia el formulario al controlador para modificar la requisicion
    function modificarClick() {
        var $form = $("#frmNoPresupuestada");
        var model = JSON.stringify(getFormData($form), null, 2);
        console.log('model', JSON.parse(model));
        $.ajax({
            type: "POST",
            url: '@Url.Action("Modificar_Click", "REQUISICION")',
            contentType: "application/json; charset=utf-8",
            data: model,
            dataType: "json",
            success: function () { window.location.href = '@Url.Action("Index", "REQUISICION")'; }
        });
    };

    //Método que extrae valores del fomulario
    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};
        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }
</script>


