@model MODELO_DATOS.MODELO_REQUISICION.REQUISICIONViewModel

@*@using (Html.BeginForm("Licencia_Incapacidad", "REQUISICION", FormMethod.Post, new { id = "formLicenciaGeneral", @class = "col-md-12 row" }))*@
@using (Html.BeginForm("Index", "LICENCIA_INCAPACIDAD", FormMethod.Post, new { id = "formLicenciaIncapacidadBP", @class = "col-md-12 row" }))
{

    <h4 class="LSubtitulos col-md-12">Información Basica</h4>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.TIPO_DOCUMENTO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_TIPO_DOCUMENTO, Model.TIPO_DOCUMENTO, "Seleccione ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TIPO_DOCUMENTO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.NUMERO_DOCUMENTO_EMPLEADO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.NUMERO_DOCUMENTO_EMPLEADO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NUMERO_DOCUMENTO_EMPLEADO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.NOMBRE_EMPLEADO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.NOMBRE_EMPLEADO, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.NOMBRE_EMPLEADO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.FECHA_INICIO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            <div class="input-group date datepicker-retiro" style="width:100% !important;">
                @Html.EditorFor(model => model.FECHA_INICIO, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = DateTime.Now.ToString("yyyy/MM/dd") } })
                <span class="input-group-addon"><span class="fas fa-calendar-alt"></span></span>
            </div>
            @Html.ValidationMessageFor(model => model.FECHA_INICIO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.FECHA_FIN, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            <div class="input-group date datepicker-retiro" style="width:100% !important;">
                @Html.EditorFor(model => model.FECHA_FIN, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = DateTime.Now.ToString("yyyy/MM/dd") } })
                <span class="input-group-addon"><span class="fas fa-calendar-alt"></span></span>
            </div>
            @Html.ValidationMessageFor(model => model.FECHA_FIN, "", new { @class = "text-danger" })

        </div>
    </div>
    @*fin de la seccion Inicial Licencia e Incapacidad*@

    @* Inicio de la seccion Información General *@
    <h4 class="LSubtitulos col-md-12">Información General</h4>

    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.NOMBRE_CARGO, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6 N">
            model.NOMBRE_CARGO
        </div>
    </div>

    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.NOMBRE_GERENCIA_LISTA, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6 N">
            Model.NOMBRE_GERENCIA_LISTA
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.COD_CECO, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6 N">
            model.COD_CECO
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.NOMBRE_SOCIEDAD_LISTA, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6 N">
            model.COD_SOCIEDAD
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.COD_EQUIPO_VENTAS_LISTA, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6 N">
            COD_EQUIPO_VENTAS
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.COD_CATEGORIA_ED_LISTA, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6 N">
            model.COD_CATEGORIA_ED
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.CARGO_CRITICO, htmlAttributes: new { @class = "control-label col-md-5" })
        @Html.EditorFor(model => model.CARGO_CRITICO)
        @Html.ValidationMessageFor(model => model.CARGO_CRITICO, "", new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.POSICION, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6 N">
            model.POSICION
        </div>
    </div>
    @* Fin de la seccion Información General *@

    @* Inicio de la seccion Información salarial *@
    <h4 class="LSubtitulos col-md-12">Información Salarial</h4>

    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.SALARIO_FIJO
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.PORCENTAJE_SALARIO_FIJO
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.SALARIO_VARIABLE
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.PORCENTAJE_SALARIO_VARIABLE
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.SOBREREMUNERACION
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.EXTRA_FIJA
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.RECARGO_NOCTURNO
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.MEDIO_TRANSPORTE
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.SALARIO_TOTAL
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.BONO_ANUAL
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "control-label col-md-6" })
        <div class="col-md-6">
            model.NUMERO_SALARIOS
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.OBSERVACION_CREACION, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.OBSERVACION_CREACION, new { @class = "form-control", @Value = "Comentario" })
            @Html.ValidationMessageFor(model => model.OBSERVACION_CREACION, "", new { @class = "text-danger" })
        </div>
    </div>
    @* Fin de la seccion Información salarial *@

    @* Inicio de la seccion Información General Propuesta*@
    <h4 class="LSubtitulos col-md-12">Información General Propuesta:</h4>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.NOMBRE_TIPO_CONTRATO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_TIPO_CONTRATO, Model.LIST_NOMBRE_TIPO_CONTRATO, "Seleccione ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NOMBRE_TIPO_CONTRATO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.JEFE_INMEDIATO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.JEFE_INMEDIATO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.JEFE_INMEDIATO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.NIVEL_RIESGO_ARL, "Nivel de Riesgo ARL", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_NIVEL_RIESGO_ARL, Model.LIST_NIVEL_RIESGO_ARL, "Seleccione ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LIST_NIVEL_RIESGO_ARL, "", new { @class = "text-danger" })
        </div>
    </div>
    @*fin de la seccion Información General Propuesta*@

    @* Inicio de la seccion Información Salarial Propuesta *@
    <h4 class="LSubtitulos col-md-12">Información Salarial Propuesta:</h4>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SALARIO_FIJO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.PORCENTAJE_SALARIO_FIJO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.PORCENTAJE_SALARIO_FIJO, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_FIJO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.SALARIO_VARIABLE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.PORCENTAJE_SALARIO_VARIABLE, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.PORCENTAJE_SALARIO_VARIABLE, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SALARIO_VARIABLE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SOBREREMUNERACION, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.SOBREREMUNERACION, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.PORCENTAJE_SOBREREMUNERACION, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.PORCENTAJE_SOBREREMUNERACION, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.PORCENTAJE_SOBREREMUNERACION, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.EXTRA_FIJA, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.EXTRA_FIJA, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.EXTRA_FIJA, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.RECARGO_NOCTURNO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.RECARGO_NOCTURNO, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.RECARGO_NOCTURNO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.MEDIO_TRANSPORTE, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.MEDIO_TRANSPORTE, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.MEDIO_TRANSPORTE, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.SALARIO_TOTAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.SALARIO_TOTAL, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.SALARIO_TOTAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.BONO_ANUAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.BONO_ANUAL, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.BONO_ANUAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.NUMERO_SALARIOS, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.NUMERO_SALARIOS, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.NUMERO_SALARIOS, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.MESES_GARANTIZADOS, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.MESES_GARANTIZADOS, new { htmlAttributes = new { @class = "form-control", @id = "nombreEmpleado" } })
            @Html.ValidationMessageFor(model => model.MESES_GARANTIZADOS, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.NOMBRE_TIPO_SALARIO, "Tipo de Salario", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_TIPO_SALARIO, Model.LIST_NOMBRE_TIPO_SALARIO, "Seleccione ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LIST_NOMBRE_TIPO_SALARIO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.FACTOR_PRESTACIONAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.FACTOR_PRESTACIONAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FACTOR_PRESTACIONAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.INGRESO_PROM_MENSUAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.INGRESO_PROM_MENSUAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_MENSUAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.INGRESO_PROM_ANUAL, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.INGRESO_PROM_ANUAL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INGRESO_PROM_ANUAL, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-6 row">
        @Html.LabelFor(model => model.MERCADO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.MERCADO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MERCADO, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.NOMBRE_CATEGORIA, "Categoría", htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.DropDownListFor(model => model.COD_CATEGORIA, Model.LIST_NOMBRE_CATEGORIA, "Seleccione ", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LIST_NOMBRE_CATEGORIA, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12 row polig">
        <h4 class="LSubtitulos col-md-12">Punto Medio</h4>
        <div class="col-md-12 p1 row">
            <div class="col-md-4">
                <br />
                <div class="col-md-12 Negr">80%</div>
                <div class="col-md-12">4.150.101</div>
            </div>
            <div class="col-md-4">
                <br />
                <div class="col-md-12 Negr">100%</div>
                <div class="col-md-12">5.150.101</div>
            </div>
            <div class="col-md-4">
                <br />
                <div class="col-md-12 Negr">120%</div>
                <div class="col-md-12">6.150.101</div>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 row">
        @Html.LabelFor(model => model.POSICIONAMIENTO, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.POSICIONAMIENTO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.POSICIONAMIENTO, "", new { @class = "text-danger" })
        </div>
    </div>
    @*fin de la seccion Información Salarial Propuesta*@

    @*Inicio de la seccion Botones*@
    <div class="retiros-detalle">
        <div class="form-group col-md-12 row">
            <div class="col-md-offset-2 col-md-4">
                <button class="btn-cancelar-retriro" type="button" id="btnLcancelar">Cancelar</button>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="Crear Requisición" class="btn-confirmar-retiro" id="btnLcrear" />
            </div>
        </div>
    </div>
    @*fin de la seccion Botones*@
}


<!-- Modal a cancelar  -->
<div class="modal fade" id="modalFinalizarRetiro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title" id="exampleModalLabel">Va a cancelar el retiro para:<br /><br /><label> </label></h6>
            </div>
            <div class="modal-body">Esta seguro de cancelar el retiro para ?</div>
            <div class="modal-footer">
                <button class="cancelar-modal" type="button" data-dismiss="modal">  No  </button>
                <button onclick="CancelarRetiro()" class="btn-principal" type="button"> Si </button>
            </div>
        </div>
    </div>
</div>
<!-- fin Modal para cancelar -->
<!-- Modal para  aprobar -->
<div class="modal fade" id="modalCrearRetiro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 class="modal-title" id="exampleModalLabel"><br /><label id="NombreEmpl"></label><br /></h6>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="cancelar-modal" type="button" data-dismiss="modal">  No  </button>
                <button class="btn-principal" onclick="registrar();" type="button">  Si  </button>
            </div>
        </div>
    </div>
</div>
<!-- fin Modal para  aprobar-->

<script src="../../assets/js/scripts.js"></script>

@*<style type="text/css">

        .polig {
            height: 200px;
            border: 1px solid Black;
            border-radius: 10px;
        }
        .polig .p1 {
            height: 100px;
            border: 1px solid Black;
            border-radius: 10px;
        }
    </style>*@

<script>
        $(document).ready(function () {
            debugger;
            var resltado = "@ViewBag.resultado";
            if (resltado=="True") {
                $(".modal-body").text("Esta seguro de crear la Requisición de Licencia/Incapacidad para " + $("#nombreEmpleado").val());
                $('#modalCrearRetiro').modal("show");
            }
        });

</script>
