@using G_H_WEB.Models;

@model RETIRO_CONSULTA_ViewModel


@{
    ViewBag.Title = "retiros_buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9 col-lg-9 col-xl-9 tablaRetiros tb_separador_retiros">
    <h2 class="titulo-retiros">Retiros</h2>
    <form class="buscador" method="GET">
        @Html.TextBoxFor(m => m.BUSCAR_CONSULTA, new { @class = "search-input", @placeholder = "Buscar por usuario, nombre o cédula" })
        <button type="submit"> <a class="search-btn fas fa-search"></a> </button>
        

    </form>
    @if (User.IsInRole("Jefe"))
    {
        <div class="row">
            @Html.ActionLink("+ Crear Nuevo Retiro", "CREAR", "RETIRO", null, new { @class = "nav-item" })
        </div>
    }

    <div class="table-wrapper">
        <table class="tabla-retiro table">
            <thead>
                <tr>
                    @if (User.IsInRole("Proveedor"))
                    {
                        <th>Nombre<span class="fas fa-sort-down"></span></th>
                        <th>Causal<span class="fas fa-sort-up"></span></th>
                        <th>Fecha de solicitud<span class="fas fa-sort"></span></th>
                        <th>Estado<span class="fas fa-sort"></span></th>
                    }
                    else
                    {
                        <th>Nombre<span class="fas fa-sort-down"></span></th>
                        <th>Causal<span class="fas fa-sort-up"></span></th>
                        <th>Fecha de solicitud<span class="fas fa-sort"></span></th>
                        <th>Estado<span class="fas fa-sort"></span></th>
                        <th>Acciones</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{ if (Model.RETIROS != null)
                    {
                        foreach (RETIRO_ViewModel RETIRO in Model.RETIROS)
                        {
                            <tr>
                                <td class="td-nombre" onclick="CONSULTAR_DETALLE('@RETIRO.COD_RETIRO')">@RETIRO.NOMBRE<span class="td-email">@RETIRO.USUARIO</span></td>
                                <td class="td-causal">@RETIRO.CAUSAL</td>
                                <td class="td-fecha-solicitud">@RETIRO.FECHA_SOLICITUD</td>
                                <td class="@G_H_WEB.LOGICA_IU.ESTADO.OBTENER_ESTILO(RETIRO.ESTADO)">@RETIRO.ESTADO</td>
                                <td class="td-acciones">

                                    @if (User.IsInRole("BP") && User.IsInRole("Jefe"))
                                    {
                                        <a href="EDITAR?COD_RETIRO=@RETIRO.COD_RETIRO&&NOMBRE_VISTA=RETIRO"><span class="edit-icon fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></span></a>
                                        if (RETIRO.ESTADO == "Registrado")
                                        {

                                            <a class="seleccionarOpcion" onclick="CANCELARRETIRO('@RETIRO.COD_RETIRO')"> <span class="cancel-icon fas fa-times" data-toggle="tooltip" data-placement="top" title="Cancelar"></span></a>

                                        }
                                        else
                                        {
                                            <a class="seleccionarOpcion"> <span class="cancel-icon fas fa-times" data-toggle="tooltip" data-placement="top" title="No se puede cancelar"></span></a>
                                        }


                                    }

                                    else if (User.IsInRole("BP"))
                                    {
                                        <a href="EDITAR?COD_RETIRO=@RETIRO.COD_RETIRO&&NOMBRE_VISTA=RETIRO"><span class="edit-icon fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></span></a>

                                    }
                                    else if (User.IsInRole("Jefe"))
                                    {
                                        <a href="EDITAR?COD_RETIRO=@RETIRO.COD_RETIRO&&NOMBRE_VISTA=RETIRO"><span class="edit-icon fas fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></span></a>
                                        if (RETIRO.ESTADO == "Registrado")
                                        {

                                            <a class="seleccionarOpcion" onclick="CANCELARRETIRO('@RETIRO.COD_RETIRO')"> <span class="cancel-icon fas fa-times" data-toggle="tooltip" data-placement="top" title="Cancelar"></span></a>

                                        }
                                        else
                                        {
                                            <a class="seleccionarOpcion"> <span class="cancel-icon fas fa-times" data-toggle="tooltip" data-placement="top" title="No se puede cancelar"></span></a>
                                        }

                                    }
                                </td>
                            </tr>
                        }
                    }}

            </tbody>
        </table>
    </div>
</div>

<form action="CANCELAR" method="get">
    <input type="hidden" id="COD_RETIRO" name="COD_RETIRO" />
    <div class="modal fade" id="modalFinalizarRetiro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="exampleModalLabel"> </h5>
                </div>
                <div class="modal-body">¿Realmente Desea continuar con la cancelacion del retiro?</div>
                <div class="modal-footer">
                    <button class="cancelar-modal" type="button" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn-principal" value="Continuar" />
                </div>
            </div>
        </div>
    </div>
</form>

<script src="../../assets/js/scripts.js"></script>

    @if (Model.ERROR != null)
    {
        <div id="DETALLE_ERROR_RETORNO" name="DETALLE_ERROR_RETORNO">
            @Html.Partial("_ERRORES", Model.ERROR);
        </div>
    }

@{ 


    string CONTROLER_NOMBRE = ViewContext.RouteData.Values["controller"].ToString().ToUpper();
    string VISTA_NOMBRE = ViewContext.RouteData.Values["action"].ToString().ToUpper();
    string CONTROLER_NOMBRE1 = ViewContext.RouteData.Values["controller"].ToString().ToUpper();
    @*Model.VISTA = VISTA_NOMBRE;
    Model.CONTROLER= CONTROLER_NOMBRE;*@

    }






<script>
    $(document).ready(function () {
        debugger;

         @*if ('@ViewBag.MENSAJE_ERROR' != "") {
            $('.modal-body').load('content.html', function () {
                $('#modalValidaError').modal({ show: true });
            });
        }*@


        function buscar() {
            window.location.href = "?CONSULTA=" + $("#BuscarConsulta").val();
        }


    });


    function CANCELARRETIRO(COD_RETIRO) {
        $("#COD_RETIRO").val(COD_RETIRO);
        $('#modalFinalizarRetiro').modal('show');
    }


    function CONSULTAR_DETALLE(COD_RETIRO) {
        window.location.href = "CONSULTAR_DETALLE?COD_RETIRO=" + COD_RETIRO ;
    }

</script>
